<script>
  $(document).ready(function () {
    $("#public_body_tag_string").TagsWidget({
      tagInputPlaceholder: "ajouter des tags...",
      tagContainerBorderColor: "#d3d3d3",
      tagBackgroundColor: "#f7f7f9",
      tagColor: "#d14",
      tagBorderColor: "#e1e1e8",
    });
  });
</script>
<div class="row">
  <h1>Modifier une administration</h1>
</div>

<div class="row">
  <ul class="breadcrumb">
    <li class="active">Public Body: <%= both_links(@public_body) %></li>
  </ul>
</div>

<div class="row">
  <div class="span8">
    <div id="public_body_form">
      <%= form_for @public_body, :url => admin_body_path(@public_body),  :method => 'put', :html => { :class => "form form-horizontal" } do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <div class="form-actions">
          <%= f.submit 'Save', :accesskey => 's', :class => "btn btn-success" %></p>
        </div>
      <% end %>

      <div class="row">
        <div class="span8">
          <div class="well">
            <%= link_to 'Show', admin_body_path(@public_body), :class => "btn" %>
            <%= link_to 'List all', admin_bodies_path, :class => "btn" %>
          </div>
        </div>
      </div>

      <%= form_tag admin_body_path(@public_body),
                   class: 'form form-inline',
                   method: 'delete' do %>
        <% button_opts = { class: 'btn btn-danger', data: { confirm: "Are you sure you want to destroy this public body?" } } %>
          <% if @hide_destroy_button
             button_opts[:disabled] = true
             button_opts[:title] =
               "This authority has #{@public_body.info_requests.count} " \
               "requests (may be embargoed)"
          end %>
        <%= submit_tag "Destroy #{@public_body.name}", button_opts %>
        (this is permanent!)
      <% end %>
    </div>

  </div>
  <div class="span4">
    <h3>Données CADA</h3>
    <% if @cada_data %>
      <table class="table table-striped table-condensed">
        <tbody>
          <tr>
            <td>
              <b>Nom de l&apos;autorité</b>
            </td>
            <td>
              <%= @cada_data["nom"] %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Nom PRADA</b>
            </td>
            <td>
              <%= @cada_data["prada"] %>
            </td>
          </tr>

          <tr>
            <td>
              <b>Email</b>
            </td>
            <td>
              <%= @cada_data["email"] %>
            </td>
          </tr>

          <tr>
            <td>
              <b>Adresse</b>
            </td>
            <td>
              <%= @cada_data["adresse"] %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= @cada_data["date"] %>
    <% else %>
      Pas de données CADA trouvées :(
    <% end %>
  </div>

  <div class="span4">
    <% if @change_request %>
      <h3>Demande de modification</h3>
      <%= render partial: 'admin_general/change_request_summary' %>
    <% end %>

    <%= render :partial => 'tag_help' %>
  </div>
</div>
