<div id="signup" class="signup">
  <%= form_tag(signup_path, {:id => "signup_form"}) do %>
    <%= foi_error_messages_for :user_signup %>

    <p>
      <label class="form_label" for="user_signup_name"> Prénom - Nom</label>
      <%= text_field 'user_signup', 'name', { :size => 20, :tabindex => 10, :autocomplete => "off" } %>
    </p>

    <p>
      <label class="form_label" for="user_signup_email"><%= _('Your e-mail:') %></label>
      <%= text_field 'user_signup', 'email', { :size => 20, :tabindex => 20 } %>
    </p>

    <div class="form_item_note">
    <p>
      En vous inscrivant sur Ma Dada, vous vous engagez à respecter notre <a href="https://doc.madada.fr/usagers/charte/">charte d'usage.</a>
    </p>
    <p>
      Pour toute question relative à vos données personnelles, nous vous invitons à parcourir notre <a href="https://doc.madada.fr/usagers/confidentialite/">politique de confidentialité</a>.
    </p>
    </div>

    <p>
      <label class="form_label" for="user_signup_password"> <%= _('Password:') %></label>
      <%= password_field 'user_signup', 'password', { :size => 15, :tabindex => 30, :autocomplete => "off" } %>
    </p>

    <div class="form_item_note">
      <%= _('12 characters minimum. 72 characters maximum.') %>
    </div>

    <p>
      <label class="form_label" for="user_signup_password_confirmation"> <%= _('Confirm password:') %></label>
      <%= password_field 'user_signup', 'password_confirmation', { :size => 15, :tabindex => 40, :autocomplete => "off" } %>
    </p>

    <% if @request_from_foreign_country %>
      <%= recaptcha_tags %>
    <% end %>

    <div class="form_button">
      <%= hidden_field_tag 'token', params[:token], {:id => 'signup_token' } %>
      <%= hidden_field_tag :modal, params[:modal], {:id => 'signup_modal' } %>
      <%= submit_tag _('Sign up'),
                     :tabindex => 50,
                     :data => { :disable_with => _("Sending...") } %>
    </div>
  <% end %>
</div>

