<% @title = _('Add authorities to your batch') %>

<div class="inner-canvas">

  <div class="inner-canvas-header">
    <div class="row">
      <h1 class="small-12 columns"><%= @title %></h1>
    </div>
  </div>

  <div class="inner-canvas-body">

    <% if current_user.features.enabled?(:pro_batch_category_ui) %>
      <div class="batch-builder-mode">
        <ul class="tabs" data-tab="">
          <li class="tab-title <%= 'active' if mode == 'search' %> js-batch-builder-mode" data-mode="search">
            <%= link_to _('Search by name'), url_for(draft_id: @draft_batch_request.id, mode: 'search') %>
          </li>
          <li class="tab-title <%= 'active' if mode == 'browse' %> js-batch-builder-mode" data-mode="browse">
            <%= link_to _('Browse by category'), url_for(draft_id: @draft_batch_request.id, mode: 'browse') %>
          </li>
        </ul>
      </div>
    <% end %>

    <% if mode == 'browse' %>
      <div class="batch-builder">
        Il est possible d'ajouter toutes les administrations rattachées à une catégorie (tous les conseils départementaux, tous les ministères...). Afin de limiter les abus, cette fonctionnalité est limitée aux catégories de moins de 100 entités. Pour les catégories plus importantes, merci de nous contacter pour que nous activions l'option correspondante pour votre compte.
      </div>
    <% end %>

    <div class="batch-builder batch-builder--<%= mode %> js-batch-authority-search">
      <div class="batch-builder__search-form">

        <%= form_tag alaveteli_pro_batch_request_authority_searches_path,
                     method: :get,
                     class: 'js-batch-authority-search-form' do %>
          <% if @draft_batch_request.id %>
            <%= hidden_field_tag :draft_id,
                                 @draft_batch_request.id,
                                 class: 'js-draft-id' %>
          <% end %>
          <label for="authority_query"><%= _('Search for an authority by name') %></label>
          <input type="text"
                 name="authority_query"
                 class="js-batch-authority-search-form-query"
                 id="authority_query"
                 value="<%= @query %>"
                 placeholder="<%= _('eg. Cabinet Office') %>"
                 autofocus>
          <input type="submit" value="<%= _('Search') %>">
        <% end %>

      </div>
      <div class="batch-builder__search-results">

        <div class="js-batch-authority-search-results"
             data-ajax-error-message="<%= _('Sorry, something went wrong getting your results, please try searching again.') %>"
             data-limit-reached-message="<%= _('No more authorities can be added to this batch request.') %>"
             data-new-draft="<%= @draft_batch_request.persisted? %>">
          <% case mode %>
          <% when 'search' %>
            <%= render partial: 'search_results',
                       locals: { search: @search,
                                 draft_batch_request: @draft_batch_request,
                                 body_ids_added: @body_ids_added,
                                 query: @query,
                                 page: @page,
                                 per_page: @per_page,
                                 result_limit: @result_limit } %>
          <% when 'browse' %>
            <%= render partial: 'browse',
                       locals: { draft_batch_request: @draft_batch_request,
                                 body_ids_added: @body_ids_added } %>
          <% end %>
        </div>

      </div>
      <div class="batch-builder__chosen-authorities">

        <div class="js-draft-batch-request"
             data-limit="<%= AlaveteliConfiguration.pro_batch_authority_limit %>"
             data-ajax-error-message="<%= _('Sorry, something went wrong updating your batch request, please try again.') %>">
          <%= render partial: 'alaveteli_pro/draft_info_request_batches/summary',
                     locals: { draft: @draft_batch_request,
                               query: @query,
                               page: @page } %>
        </div>
      </div>
      <div class="batch-builder__actions">
        <%= batch_authority_count %>

        <%= form_tag new_alaveteli_pro_info_request_batch_path, method: :get do %>
          <%= hidden_field_tag :draft_id,
                               @draft_batch_request.id,
                               class: 'js-draft-id' %>
          <input type="submit"
                 class="js-write-request-button"
               <% if @draft_batch_request.public_bodies.empty? %>
                 disabled
                <% end %>
                 value="<%= _('Write request') %>">
        <% end %>
      </div>
    </div>
  </div>
</div>

