Bonjour,

Une nouvelle réponse vient d’être apportée par <%= @info_request.public_body.name %> à votre demande d’accès intitulée “<%= @info_request.title.html_safe %>”. Vous pouvez la consulter en cliquant sur le lien ci-dessous :

<%= new_response_url(@info_request, @incoming_message) %>

Une fois que vous l’aurez consultée, nous vous demandons de bien vouloir actualiser le statut de votre demande (“J’ai reçu toutes les informations”, “Je suis encore en attente de réponse” s’il ne s’agit que d’un accusé de réception, etc.).

Ma Dada est une plateforme associative, nous vous invitons donc à nous faire un don si notre service vous a été utile sur https://madada.fr/dons Merci !

L’équipe de Ma Dada
