Bonjour,

Votre demande d'accès intitulée “<%= @info_request.title.html_safe %>” n'a malheureusement obtenu aucune réponse de la part de l'administration depuis un mois, ce qui équivaut juridiquement à une décision implicite de refus.

Vous avez de ce fait la possibilité de saisir la Commission d'accès aux documents administratifs (CADA), directement depuis Ma Dada si vous le souhaitez, en suivant ce lien : <%= send_cada_appeal_url(@info_request.url_title) %>

La saisine de la CADA est gratuite et incite bien souvent les administrations à communiquer - en cas d'avis favorable - les documents sollicités. Plus d'infos ici: https://doc.madada.fr/usagers/saisir-la-cada

Nous sommes à votre disposition si vous avez des questions par rapport à cette procédure. Vous pouvez également contacter la CADA (https://cada.fr).

L'équipe de Ma Dada
