    Madame, Monsieur,

    Cela fait trois semaines que vous avez reçu une demande de communication de documents administratifs (ci-dessous). Au titre des articles R311-12 et suivant du Code des relations entre le public et l’administration, tout silence gardé par l’administration pendant un mois vaut décision de refus, dès lors contestable devant la Commission d’accès aux documents administratifs (CADA).

    Afin d’éviter une telle procédure, nous vous saurions gré de bien vouloir donner suite à la demande citée en objet dans les délais prévus par la loi.

    Afin de faciliter la recherche du courriel de demande, celui-ci a été envoyé le <%= @info_request.date_initial_request_last_sent_at %>, avec l'intitulé "Demande au titre du droit d’accès aux documents administratifs - <%= @info_request.title %>". L'adresse d'envoi était <%= @info_request.incoming_email %>.

    Veuillez agréer, Madame, Monsieur, l’expression de mes sentiments distingués.

-- <%= _('the {{site_name}} team', :site_name => site_name.html_safe) %>
