<%= render partial: 'announcement', collection: @announcements %>

<div class="row">
  <div class="span12">
    <h1>Actions à faire sur le site</h1>
    La documentation pour les admins du site est <a href="https://doc.madada.fr/admins/introduction/">ici</a>. Chaque section ci-dessous inclut un lien vers la doc spécifique correspondante.
  </div>
</div>

<% if @public_request_tasks %>
  <div class="row">
    <div class="span12">
      <h2>Demandes publiques</h2>
    </div>
  </div>

  <div class="accordion" id="public-request-things-to-do">
    <%= render partial: 'to_do_list',
               locals: { id: 'holding-pen',
                         parent: 'public-request-things-to-do',
                         items: @holding_pen_messages,
                         label: 'Rediriger ces messages vers les bonnes demandes' } %>

    <%= render partial: 'to_do_list',
               locals: { id: 'error-messages',
                         parent: 'public-request-things-to-do',
                         count: @error_message_requests.count,
                         items: @error_message_requests.limit(20),
                         label: 'Corriger les problèmes de livraison de mails' } %>

    <%= render partial: 'to_do_list',
               locals: { id: 'attention-messages',
                         parent: 'public-request-things-to-do',
                         items: @attention_requests,
                         label: "Gérer les demandes pour lesquelles des usager
                                 ont demandé l'aide des admins",
                         help_link: 'https://doc.madada.fr/admins/gestion-demandes/#mettre-a-jour-une-demande-necessitant-lintervention-de-ladministration' } %>

    <%= render partial: 'to_do_list',
               locals: { id: 'requires-admin',
                         parent: 'public-request-things-to-do',
                         items: @requires_admin_requests,
                         help_link: 'https://doc.madada.fr/admins/gestion-demandes/#mettre-a-jour-une-demande-necessitant-lintervention-de-ladministration',
                         label: "Gérer les demandes nécessitant
                                 l'attention des admins" } %>

    <%
      to_do_list_time =
        AlaveteliLocalization.with_locale(:en) do
          distance_of_time_in_words(InfoRequest::OLD_AGE_IN_DAYS)
        end

      to_do_list_label = "Classifier les réponses non traitées " \
                         "#{ to_do_list_time } après réception"
    %>

    <%= render partial: 'to_do_list',
               locals: {
                 id: 'unclassified',
                 parent: 'public-request-things-to-do',
                 count: @old_unclassified_count,
                 items: @old_unclassified,
                 label: to_do_list_label
               } %>

    <%= render partial: 'to_do_list',
               locals: { id: 'captchas-to-solve',
                         parent: 'public-request-things-to-do',
                         count: @antispam_captchas_count,
                         items: @antispam_captchas,
                         label: "Résoudre ces captchas" } %>
    <%= render partial: 'to_do_list',
               locals: { id: 'file-transfers-to-save',
                         parent: 'public-request-things-to-do',
                         count: @file_transfer_todos_count,
                         items: @file_transfer_todos,
                         label: "Sauvegarder ces transferts de fichiers" } %>
  </div>
<% end %>

<% if @authority_tasks %>
  <div class="row">
    <div class="span12">
      <h2>Autorités</h2>
    </div>
  </div>

  <div class="accordion" id="authority-things-to-do">
    <%= render partial: 'to_do_list',
               locals: { id: 'blank-contacts',
                         parent: 'authority-things-to-do',
                         items: @blank_contacts,
                         count: @blank_contact_count,
                         help_link: 'https://doc.madada.fr/admins/guide-support-admins/#demande-de-coordonnees-referent-prada-a-une-autorite',
                         label: 'Trouver les emails des PRADA pour les autorités suivantes' } %>

    <% if @new_body_requests.size > 0 %>
      <div class="accordion-group">
        <div class="accordion-heading" style="display: inline-flex;">
          <a class="accordion-toggle" href="#new-authorities" data-toggle="collapse" data-parent="authority-things-to-do">
            <span class="label label-important">
              <%= @new_body_requests.size %>
            </span>
            <%= chevron_right %> Ajouter de nouvelles autorités
          </a>
          <a style="padding: 0.2em; background-color: lightgray; border-radius: 3px; font-weight: bolder;" href="https://doc.madada.fr/admins/guide-support-admins/#demande-dajout-ou-de-modification-dune-nouvelle-autorite-administrative">Aide</a>
        </div>

        <div id="new-authorities" class="accordion-body collapse">
          <% for @change_request in @new_body_requests %>
            <%= render :partial => 'change_request_summary'%>

            <%= form_tag admin_change_request_path(@change_request),
              :method => 'put',
              :class => "form form-horizontal" do %>

              <%= submit_tag 'Fermer (Ignorer)', class: 'btn' %>

              <%= link_to 'Ignorer et répondre',
                          edit_admin_change_request_path(@change_request),
                          class: 'btn btn-primary' %>

              <%= link_to "Ajouter l'autorité",
                new_admin_body_path(change_request_id: @change_request.id),
                class: 'btn btn-success' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @body_update_requests.size > 0 %>
      <div class="accordion-group">
        <div class="accordion-heading" style="display: inline-flex;">
          <a class="accordion-toggle" href="#update-authorities" data-toggle="collapse" data-parent="authority-things-to-do">
            <span class="label label-important">
              <%= @body_update_requests.size %>
            </span>
            <%= chevron_right %> Mettre à jour les autorités
          </a>
          <a style="padding: 0.2em; background-color: lightgray; border-radius: 3px; font-weight: bolder;" href="https://doc.madada.fr/admins/guide-support-admins/#demande-dajout-ou-de-modification-dune-nouvelle-autorite-administrative">Aide</a>
        </div>

        <div id="update-authorities" class="accordion-body collapse">
          <% for @change_request in @body_update_requests %>
            <%= render :partial => 'change_request_summary' %>

            <%= form_tag admin_change_request_path(@change_request),
              :class => "form form-horizontal",
              :method => 'put' do %>

              <%= submit_tag 'Fermer (Ignorer)', class: 'btn' %>

              <%= link_to 'Ignorer et répondre',
                          edit_admin_change_request_path(@change_request),
                          class: 'btn btn-primary' %>

              <%= link_to 'Mettre à jour',
                edit_admin_body_path(@change_request.public_body,
                                     change_request_id: @change_request.id),
                                     class: 'btn btn-success' %>
             <% end %>
           <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @comment_tasks %>
  <div class="row">
    <div class="span12">
      <h2>Commentaires</h2>
    </div>
  </div>
  <div class="accordion" id="comments-things-to-do">
    <%= render partial: 'to_do_list',
               locals: { id: 'attention-comments',
                         parent: 'comments-things-to-do',
                         items: @attention_comments,
                         label: "Vérifier les commentaires marqués comme nécessitant
                                 l'attention des admins" } %>
  </div>
<% end %>

<% if can?(:admin, AlaveteliPro::Embargo) && @embargoed_request_tasks %>
  <div class="row">
    <div class="span12">
      <h2>Demandes sous embargo</h2>
    </div>
  </div>
  <div class="accordion" id="embargoed-request-things-to-do">

    <%= render partial: 'to_do_list',
               locals: { id: 'embargoed-error-messages',
                         parent: 'embargoed-request-things-to-do',
                         items: @embargoed_error_message_requests,
                         label: 'Corriger ces problèmes de livraison de mails' } %>

    <%= render partial: 'to_do_list',
               locals: { id: 'embargoed-attention-messages',
                         parent: 'embargoed-request-things-to-do',
                         items: @embargoed_attention_requests,
                         label: "Gérer les demandes pour lesquelles des usager
                                 ont demandé l'aide des admins",
                         help_link: 'https://doc.madada.fr/admins/gestion-demandes/#mettre-a-jour-une-demande-necessitant-lintervention-de-ladministration' } %>


    <%= render partial: 'to_do_list',
               locals: { id: 'embargoed-requires-admin',
                         parent: 'embargoed-request-things-to-do',
                         items: @embargoed_requires_admin_requests,
                         help_link: 'https://doc.madada.fr/admins/gestion-demandes/#mettre-a-jour-une-demande-necessitant-lintervention-de-ladministration',
                         label: "Gérer les demandes nécessitant
                                 l'attention des admins" } %>

  </div>
<% end %>

<% if can?(:admin, AlaveteliPro::Embargo) && @embargoed_comment_tasks %>
  <div class="row">
    <div class="span12">
      <h2>Commentaires sous embargo</h2>
    </div>
  </div>
  <div class="accordion" id="embargoed-comment-things-to-do">
    <%= render partial: 'to_do_list',
               locals: { id: 'embargoed-attention-comments',
                         parent: 'embargoed-comment-things-to-do',
                         items: @embargoed_attention_comments,
                         label: "Vérifier les commentaires marqués comme nécessitant
                                 l'attention des admins" } %>

  </div>
<% end %>

<% if @nothing_to_do %>
  <div class="row">
    <div class="span12 alert alert-success">
      Pas de boulot d&apos;administration aujourd'hui 8)
    </div>
  </div>
<% end %>

