
<%= raw @outgoing_message.body.strip %>

<%= raw @outgoing_message.quoted_part_to_append_to_email.strip %>

-------------------------------------------------------------------
Le message ci-dessus fait suite à une demande qui vous a été envoyée par l’intermédiaire de la plateforme associative et citoyenne Ma Dada (https://madada.fr), dont l’objet est de faciliter l’accès aux informations publiques.

Merci d’utiliser cette adresse email pour toutes les réponses à cette demande :
<%= @info_request.incoming_email %>

Attention : les réponses que vous apporterez à cette demande, de même que les éventuels documents administratifs que vous pourriez communiquer, seront publiés en libre accès sur Ma Dada. Nous vous demandons donc de procéder, le cas échéant, à l’occultation de données à caractère personnel (noms, contacts…), comme le prévoit notamment l’article 311-7 du CRPA.

Nous vous rappelons que vous devez répondre à cette demande dans un délai d’un mois, faute de quoi votre silence vaudra refus implicite (articles R311-12 et R311-13 du CRPA).

Pour toute difficulté ou question concernant :
- Le droit d’accès, vous pouvez consulter le site Internet de la Commission d’accès aux documents administratifs (CADA), www.cada.fr, ou la contacter directement.
- Ma Dada, vous pouvez consulter notre documentation (https://doc.madada.fr), ou nous contacter à contact@madada.fr.

En vous remerciant pour la bienveillance que vous pourrez apporter à cette requête,

L’équipe de Ma Dada.
-------------------------------------------------------------------
