Saisine soumise le <%= DateTime.now.strftime("%d/%m/%Y - %H:%M") %> par:

Civilité: <%= @user_title %>
Prénom: <%= @user_firstname %>
Nom: <%= @user_lastname %>
Adresse courriel: <%= @outgoing_message.from %>

<% if @on_behalf_of %>
Pour le compte de: <%= @on_behalf_of %>
<% end %>

Adresse: <%= @user_post_address %>
Code postal: <%= @user_postcode %>
Localité: <%= @user_city %>
Pays: <%= @user_country %>

Administration concernée: <%= @info_request.public_body.name %>
Courriel de l'administration: <%= @info_request.public_body.request_email %>
<% if !@info_request.info_request_batch.nil? %>
  Cette demande d’avis est une demande sérielle, visant plusieurs administrations (voir le détail dans le tableur ci-joint).
<% end %>

Votre demande porte sur : <%= @info_request.public_body.name %>

Document(s) objet de la saisine:
<%= @docs_requested %>

Date de la demande à l'administration: <%= @info_request.date_initial_request_last_sent_at.strftime("%d/%m/%Y") %>

Pièce(s) justificative(s) de la demande à l'administration:
- Correspondance avec l'administration
<% if !@info_request.info_request_batch.nil? and @num_bodies_appealed > 1 %>
- Tableau de synthèse des demandes faisant partie de la série
<% end %>

Observations:
<%= @observations %>
