#########################################
Formulaire de saisine de la CADA

Lisez toutes les instructions avant d'envoyer votre saisine, sans quoi elle ne sera pas recevable par la CADA!

1 - Téléchargez le fichier de saisine CADA depuis la page de votre demande Ma Dada (dans le menu "Actions / Télécharger un fichier zip de saisine CADA") et attachez-le en pièce-jointe à ce message.
2 - Si la saisine concerne une série de demandes, faites de même avec le tableau de synthèse (option suivante dans le menu).
3 - Remplissez les champs marqués XXXX ci-dessous (nom, adresse...).
4 - Modifiez l'adresse destinataire en "cada@cada.fr".
5 - Ajoutez des observations si nécessaire en fin de message (contexte de votre demande, information non disponible sur Ma Dada, etc...). N'oubliez pas que vous n'avez pas à justifier d'un quelconque motif pour effectuer une demande.
6 - Mettez à jour le statut de votre demande sur Ma Dada (vers "saisine_cada"), ce qui vous permettra de recevoir des rappels lorsque les délais seront écoulés.
7 - Supprimez ces instructions du message.
8 - Envoyez le message!

(supprimez les instructions jusqu'ici)
#########################################

# Saisine envoyée par:

Civilité: Madame / Monsieur / Maître
Nom: XXXX
Prénom: XXXX
Adresse postale: XXXX
Code postal: XXXX
Localité: XXXX

Pour le compte de: XXXX (seulement si cette saisine est faite au nom d'une personne morale)

# Administration concernée

<%= info_request.public_body.name %>

initialement contactée via Ma Dada le <%= info_request.date_initial_request_last_sent_at.strftime("%d/%m/%Y") %>.
L'historique des échanges avec l'administration est jointe à la présente saisine.

<% if !info_request.info_request_batch.nil? %>
Cette demande fait partie d'une série envoyée à <%= info_request.info_request_batch.sent_public_bodies.count %> administrations. La liste de ces administrations, ainsi que le statut des demandes respectives, est détaillée dans le tableau joint.
<% end %>

# Observations

