<div class="incoming correspondence <%= incoming_message.prominence %> js-collapsable <%= incoming_message.tagged_proof_of_delivery? ? 'collapsed' : '' %>" id="<%= dom_id(incoming_message) %>">
  <div class="correspondence__header">
    <span class="correspondence__header__author js-collapsable-trigger">
      <% if incoming_message.from_public_body? %>
        <%# Show the public body's name if the message comes from them,
          otherwise show some anonymous text to limit PII %>
        <%= @info_request.public_body.name %>
      <% else %>
        Message reçu
      <% end %>
    </span>

    <%= link_to incoming_message_path(incoming_message, anchor_only: true), :class => 'correspondence__header__date' do %>
      <%= simple_date(incoming_message.sent_at) %>
    <% end %>
    <% if incoming_message.tagged_proof_of_delivery? %>
      <div class="correspondence__header__comment js-collapsable-trigger">
          Ma Dada a identifié un accusé de réception dans ce message.
      </div>
    <% end %>
  </div>

  <%= render partial: 'request/prominence', locals: { prominenceable: incoming_message } %>

  <%- if can?(:read, incoming_message) %>
    <% if feature_enabled?(:refusal_identification) %>
      <%= render partial: 'request/incoming_refusals',
                 locals: { incoming_message: incoming_message } %>
    <% end %>

    <div class="correspondence_text">
      <%= render partial: 'request/attachments',
                 locals: { incoming_message: incoming_message } %>
    </div>

    <p class="event_actions">
      <% if !@user.nil? && @user.admin_page_links? %>
        <%= link_to "Admin", edit_admin_incoming_message_path(incoming_message.id) %>
      <% end %>
    </p>

    <% if show_correspondence_footer %>
      <% link_to_this_url = incoming_message_url(incoming_message) %>

      <% report_path =
           new_request_report_path(request_id: @info_request.url_title,
                                   incoming_message_id: incoming_message.id) %>

      <%= render partial: 'request/correspondence_footer',
                 locals: { link_to_this_url: link_to_this_url,
                           report_path: report_path } %>
    <% end %>
  <%- end %>
</div>

