<% @title = _("'{{authority_name}}' is defunct",
              :authority_name => (@info_request.public_body.name)) %>

<h1><%= @title %></h1>

<p class="authority__header__notes authority__header__not_requestable">
  <%= public_body_not_requestable_reasons(@public_body).first %>
</p>
<% if @info_request.public_body.has_notes? %>
  <p>
    Les notes ci-dessous peuvent apporter plus d'information :
  </p>
  <%= render_notes(@info_request.public_body.notes) %>
<% end %>
