<% content_for :javascript do %>
  <script type="text/javascript">
  $(document).ready(function() {
    // Avoid triggering too often (on each keystroke) by using the debounce
    // jQuery plugin:
    // http://benalman.com/projects/jquery-throttle-debounce-plugin/
    var req_title = `<%= @request_title.html_safe unless @request_title.nil? %>`;
    var req_body = `<%= @request_body.html_safe unless @request_body.nil?%>`;
    $("#query").keypress($.debounce( 300, function() {
      // Do a type ahead search and display results
      // Avoid passing request_title... to the backend to not break caching.
      $("#typeahead_response").load("<%= search_ahead_bodies_url %>?query="+encodeURI(this.value), function (response, status, xhr) {
      // instead we manipulate the returned html on the client side
        if (req_title !== '' || req_body !== '') {
          $(".make-request-quick-button > a.link_button_green").each(function() {
            this.href = this.href + "?title=" + req_title + "&body=" + encodeURI(req_body);
          })
        }
      });
    }));

    if (!!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/)) {
      $('#query').removeAttr('required');
    }
  });
  </script>
<% end %>

<% @title = _("Find an authority")  %>

<h1>À qui souhaitez-vous demander un document ?</h1>

<div id="authority_selection" class="authority_selection">
  <%# This view is rendered from multiple urls, hence why the form action is blank %>
  <%= form_tag "", { :id => 'search_form', :method => 'get' } do %>
    <div>
      <p>
        Tapez le nom de l’autorité publique susceptible de détenir le document que vous sollicitez.
      </p>
      <label for="query" class="visually-hidden"><%=_('Authority name')%></label>
      <%= text_field_tag :query, params[:query], { :size => 30,
                                                   :title => _('type your search term here'),
                                                   :required => true,
                                                   :placeholder => 'Ministère de la Défense' } %>
      <%= hidden_field_tag :bodies, 1 %>
      <%= hidden_field_tag :request_title, @request_title %>
      <%= hidden_field_tag :request_body, @request_body %>
      <%= submit_tag _('Search') %>
    </div>
  <% end %>

  <div id="typeahead_response" class="typeahead_response">
    <%= render :partial => 'public_body/search_ahead' %>
  </div>
</div>

<div id="select_authority_help" class="select_authority_help">
  <%= render :partial => 'request/select_authority_help' %>
</div>
