<h1>Saisir la CADA (beta)</h1>
<%= foi_error_messages_for :send_cada_appeal %>
<p>
  Ce formulaire vous permet de saisir la CADA pour votre demande:
</p>
<p>
  <%= link_to(@info_request.title, show_request_path(@info_request.url_title)) %> envoyée à <%= @info_request.public_body.name %>.
</p>
<p>
  Les documents suivants seront automatiquement joints à votre envoi. Nous vous recommandons d'en vérifier le contenu.
  <ul>
    <li><%= link_to "Synthèse des échanges pour cette demande", download_entire_request_saisine_path(:url_title => @info_request.url_title) %></a>
    <% if !@info_request.info_request_batch.nil? %>
      <li>
        <%= link_to "Tableau de synthèse de la série de demandes pour la CADA (si la saisine cible au moins deux administrations)", download_batch_saisine_spreadsheet_path(:url_title => @info_request.url_title) %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  La Commission d'Accès aux Documents Administratifs (CADA) a besoin de votre nom complet
  ainsi que de votre adresse postale pour traiter votre saisine. Ma Dada vous demande donc
  ces informations afin de pouvoir envoyer votre saisine, mais celles-ci ne seront pas
  conservées après envoi.
</p>
<p>
  <em>
    Si vous ne souhaitez pas saisir ces informations sur Ma Dada, vous pouvez <a href="https://www.cada.fr/formulaire-de-saisine">envoyer la
      saisine par vous-même</a>, en joignant les fichiers ci-dessus. Aucun suivi de votre saisine ne sera cependant fait sur Ma Dada.
  </em>
</p>
<%= form_for(@info_request, url: send_cada_appeal_path, method: "patch", html: {class: "form_saisine_cada"})  do |f| %>
  <p>
    <label class="form_label" for="user_title">
      Civilité:
    </label>
    <%= select_tag :user_title, options_for_select([ "Madame", "Monsieur", "Maître"]), prompt: "Sélectionner" %>
    <label class="form_label" for="user_firstname">
      Votre prénom:
    </label>
    <%= text_field_tag :user_firstname %>
    <label class="form_label" for="user_lastname">
      Votre nom:
    </label>
    <%= text_field_tag :user_lastname %>
  </p>
  <p>
    <label class="form_label" for="on_behalf_of">
      Si vous effectuez cette saisine pour le compte d'une organisation, saisissez son nom:
    </label>
    <%= text_field_tag :on_behalf_of %>
  </p>
  <p>
    Saisissez ici votre adresse personnelle, ou l'adresse de l'organisation pour qui vous effectuez la demande.
    <label class="form_label" for="user_post_address">
      Adresse postale:
    </label>
    <%= text_field_tag :user_post_address %>
    <label class="form_label" for="user_postcode">
      Code postal:
    </label>
    <%= text_field_tag :user_postcode %>
    <label class="form_label" for="user_city">
      Ville:
    </label>
    <%= text_field_tag :user_city %>
    <label class="form_label" for="user_country">
      Pays:
    </label>
    <%= text_field_tag :user_country, 'France' %>
  </p>
  <p>
    <label class="form_label" for="docs_requested">
      Document(s) demandé(s): (nous vous recommandons de copier la liste des documents tels que décrits dans votre demande initiale)
    </label>
    <%= text_area_tag :docs_requested, nil, rows: 5, cols: 100 %>
  </p>
  <p>
    <label class="form_label" for="observations">
      Observations pouvant aider la CADA dans son travail. La loi ne vous demande aucune justification pour demander un document.
    </label>
    <%= text_area_tag :observations, nil, rows: 5, cols: 100 %>
  </p>
  <% if !@info_request.info_request_batch.nil? %>
    <div>
      <span>
        Veuillez sélectionner les administrations contre lesquelles vous souhaitez saisir la CADA.
        Celles pour lesquelles la demande n'a pas abouti sont préselectionnées.
      </span>
      <table class="cada_appeal_authorities">
        <thead>
          <td>Autorité</td>
          <td>Statut de la demande</td>
          <td>Inclure?</td>
        </thead>
        <% @info_request.info_request_batch.info_requests.order('awaiting_description DESC, described_state').each do |req| %>
          <tr>
            <td>
              <%= req.public_body.name %>
            </td>
            <td>
              <i class="icon-standalone icon_<%= req.calculate_status(true) %>"></i>
              <%= InfoRequest::State.short_description(req.calculate_status(true)) %>
            </td>
            <td>
              <%# the disabled checkbox is not sent back to the server! %>
              <%= check_box_tag "reqs_to_include[]", req.id, ['rejected', 'not_held', 'waiting_response'].include?(req.described_state), disabled: req.id == @info_request.id %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <!-- single request -->
    <%= hidden_field_tag "reqs_to_include" %>
  <% end %>
  <%= f.hidden_field :url_title %>
  <p>
    En cliquant sur le bouton ci-dessous, nous enverrons votre saisine à la CADA, et vous recevrez une copie du message sur l'adresse liée à votre compte.
  </p>
  <div class="form_button">
    <%= submit_tag "Envoyer la saisine" %>
  </div>
<% end %>
