<% @title = _('{{title}} - a Freedom of Information request to {{public_body}}',
              title: h(@info_request.title),
              public_body: (@info_request.public_body.name)) %>

<%= render partial: 'request/request_meta_tags' %>

<% if flash[:request_sent] %>
  <%= render partial: 'request_sent' %>
<% end %>

<%= render partial: 'request/ga_events' %>

<%= render partial: 'request/hidden_request_messages' %>

<% if @show_top_describe_state_form %>
  <div class="describe_state_form box" id="describe_state_form_1">
    <%= render partial: 'request/describe_state', locals: { id_suffix: '1' } %>
  </div>
<% end %>

<%= render partial: 'request/request_header',
           locals: { info_request: @info_request,
                     user: @user,
                     follower_count: @follower_count,
                     in_pro_area: @in_pro_area,
                     track_thing: @track_thing,
                     show_profile_photo: @show_profile_photo,
                     show_action_menu: @show_action_menu,
                     new_responses_count: @new_responses_count,
                     is_owning_user: @is_owning_user,
                     render_to_file: @render_to_file,
                     show_owner_update_status_action: @show_owner_update_status_action,
                     show_other_user_update_status_action: @show_other_user_update_status_action,
                     last_response: @last_response,
                     old_unclassified: @old_unclassified } %>

<div id="left_column" class="left_column">
  <%= render_notes(@info_request.all_notes) %>

  <% @info_request.info_request_events.each do |info_request_event| %>
    <% if info_request_event.visible %>
      <%= render partial: 'request/correspondence',
                 locals: { info_request_event: info_request_event,
                           show_correspondence_footer: !@info_request.embargo } %>
    <% end %>
  <% end %>

  <% if @show_bottom_describe_state_form %>
    <div class="describe_state_form box" id="describe_state_form_2">
      <%= render partial: 'request/describe_state',
                 locals: { id_suffix: '2' } %>
    </div>
  <% end %>

  <% unless @render_to_file %>
    <div class="request-footer__action-bar-container">
      <div class="request-footer__action-bar__actions">
        <% if @in_pro_area %>
          <%= render partial: 'alaveteli_pro/info_requests/after_actions',
                     locals: { info_request: @info_request,
                               last_response: @last_response } %>
        <% elsif @show_action_menu %>
          <%= render partial: 'request/after_actions',
                     locals: { info_request: @info_request,
                               track_thing: @track_thing,
                               show_owner_update_status_action: @show_owner_update_status_action,
                               show_other_user_update_status_action: @show_other_user_update_status_action,
                               last_response: @last_response } %>

          <%= render partial: 'track/tracking_links_simple',
                     locals: { track_thing: @track_thing,
                               user: @user,
                               follower_count: @follower_count,
                               own_request: @info_request.user && \
                                            @info_request.user == @user,
                               location: 'toolbar' } %>
          <!-- template changed here -->
          <%= render partial: 'request/appeal_button',
                     locals: { info_request: @info_request,
                               own_request: @info_request.user && \
                                            @info_request.user == @user } %>
          <!-- end template changed here -->
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%- if @sidebar %>
  <%= render partial: @sidebar_template,
             locals: { info_request: @info_request,
                       similar_requests: @similar_requests,
                       similar_more: @similar_more,
                       citations: @citations } %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'request-attachments.js' %>
<% end %>
