<div class="comment_in_request box" id="comment-<%=comment.id.to_s%>">
  <div class="comment_content">
    <%# hide details about who commented from search engines %>
    <% if !@user.nil? %>
      <% if comment.user && comment.user.show_profile_photo? && !@render_to_file %>
        <div class="user_photo_on_comment">
          <img src="<%= get_profile_photo_url(:url_name => comment.user.url_name) %>" alt="">
        </div>
      <% end %>
    <% end %>

    <h2>
    <% if !@user.nil? %>
      <%# When not logged in, but mid-comment-leaving, there'll be no comment.user %>
      <%= comment.user ?
        _("{{user_name}} left an annotation ({{date}})",
            :user_name => user_link(comment.user),
            :date => simple_date(comment.created_at || Time.zone.now)) :
        _("You left an annotation ({{date}})",
            :date => simple_date(comment.created_at || Time.zone.now)) %>
    <% else %>
      Commentaire posté le <%= simple_date(comment.created_at || Time.zone.now) %>
    <% end %>
    </h2>

    <div class="comment_in_request_text">
      <p>
        <%= comment.get_body_for_html_display %>
      </p>
    </div>

    <p class="event_actions">
      <% if comment.id %>
        <% if @user && @user.admin_page_links? %>
          <%= link_to "Admin", edit_admin_comment_path(comment) %>
        <% end %>
      <% end %>
    </p>
  </div>

  <% if comment.id && show_correspondence_footer %>
    <% link_to_this_url = comment_url(comment) %>

    <% report_path =
         new_request_report_path(@info_request.url_title,
                                 comment_id: comment.id) %>

    <%= render partial: 'request/correspondence_footer',
               locals: { link_to_this_url: link_to_this_url,
                         report_path: report_path } %>
  <% end %>
</div>

