<%
  if @highlight_words.nil?
    @highlight_words = []
  end

  request_link = false unless defined?(request_link)
%>

<div class="body_listing <%= tags_css(public_body) %>">
  <div class="head body-listing__header">
    <%= link_to highlight_words(public_body.name, @highlight_words), public_body_path(public_body) %>
  </div>
  <div class="desc body-listing__description">
    <% if !public_body.short_name.blank? || public_body.has_notes? %>
      <% if !public_body.short_name.blank? %>
        <%= _("Also called {{other_name}}.",
              :other_name => highlight_words(public_body.short_name, @highlight_words)) %>
      <% end %>
      <% if public_body.has_notes? %>
        <%= highlight_and_excerpt(strip_tags(public_body.notes_as_string), @highlight_words, 150) %>
      <% end %>
      <br>
      <% if public_body.special_not_requestable_reason? %>
        <% if public_body.not_requestable_reason == 'not_apply' %>
          <%= _('FOI law does not apply to this authority.')%>
        <% elsif public_body.not_requestable_reason == 'defunct' %>
          <%= _('Defunct.')%>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="bottomline body-listing__request-count">
    <%= n_('{{count}} request.',
           '{{count}} requests.',
           public_body.info_requests.is_searchable.size,
           :count => public_body.info_requests.is_searchable.size) %>
  </div>

  <% if request_link && !public_body.special_not_requestable_reason? %>
    <div class="make-request-quick-button body_listing__request-button">

      <%= link_to _("Make a request"), new_request_to_body_path(:url_name => public_body.url_name, :title => (@request_title unless @request_title.blank?) , :body => (@request_body unless @request_body.blank?)), :class => "link_button_green" %>
    </div>
  <% end %>
</div>
