<% @title = h(@public_body.name) + _(" - view and make Freedom of Information requests") %>
<% if flash[:search_params] %>
  <div class="back-to-results">
    <div class="message">
      <%= link_to select_authority_path(flash[:search_params]) do %>
        <%= _('« Back to search results') %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="authority__header" vocab="http://schema.org/" typeof="GovernmentOrganization">
  <meta property="sameAs" content="<%= @public_body.wikidata_url %>">
  <h1 property="name"><%= h(@public_body.name) %></h1>
  <p class="authority__header__subtitle">
    <%= type_of_authority(@public_body) %><% unless @public_body.short_name.blank? %>,
      <%= _('also called {{public_body_short_name}}', :public_body_short_name => h(@public_body.short_name)) %>
    <% end %>
    <% if @user && @user.admin_page_links? %>
      (<%= link_to _("admin"), admin_body_path(@public_body) %>)
    <% end %>
  </p>
  <% if @public_body.eir_only? %>
    <p class="authority__header__foi_no">
      <%= _('You only have a right in law to access information about the ' \
            'environment from this authority') %>
    </p>
  <% elsif @public_body.not_subject_to_law? %>
    <p class="authority__header__foi_no">
      <%= _('This authority is not subject to FOI law, so is not ' \
            'legally obliged to respond') %>
      (<%= details_help_link(@public_body) %>).
    </p>
  <% end %>
  <% if @public_body.has_notes? ||
        @public_body.special_not_requestable_reason? %>
  <div id="stepwise_make_request" class="stepwise_make_request">
    <% if !@public_body.is_requestable? &&
            @public_body.special_not_requestable_reason? %>
    <p class="authority__header__notes authority__header__not_requestable">
      <%= public_body_not_requestable_reasons(@public_body).first %>
    </p>
    <% end %>
    <% if @public_body.has_notes? %>
      <%= render_notes(@public_body.notes, class: 'authority__header__notes') %>
    <% end %>
  </div>
  <% end %>
<% if @number_of_visible_requests > 0 %>
  <div class="authority__header__stats">
    <%= n_('{{count}} request',
             '{{count}} requests',
             @number_of_visible_requests,
             :count => @number_of_visible_requests) %>
  </div>
<% end %>
<div class="authority__header__action-bar-container">
  <div class="authority__header__action-bar">
    <div class="action-bar__make-request">
      <% if @public_body.is_requestable? || @public_body.not_requestable_reason == 'bad_contact' %>
        <%= link_to new_request_to_body_path(url_name: @public_body.url_name), class: 'link_button_green make-request__action' do %>
          <% case @public_body.legislation.to_sym %>
          <% when :eir %>
            <%= _('Make an {{legislation}} request to this authority',
                    legislation: @public_body.legislation.to_s(:full)) %>
          <% else %>
            <%= _('Make a {{legislation}} request to this authority',
                    legislation: @public_body.legislation.to_s(:full)) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="action-bar__follow">
      <div class="action-bar__follow-button">
        <% if @existing_track %>
          <%= link_to _("Unfollow"), {:controller => 'track', :action => 'update', :track_id => @existing_track.id, :track_medium => "delete", :r => request.fullpath}, :class => "link_button_green unsubscribe__action" %>
        <% else %>
          <div class="feed_link">
            <%= link_to _("Follow"), do_track_path(@track_thing), :class => "link_button_green track__action" %>
          </div>
        <% end %>
      </div>
      <div class="action-bar__follower-count">
        <%= n_("{{count}} follower",
                 "{{count}} followers",
                 @follower_count,
                 :count => content_tag(:span, @follower_count, :id => "follow_count")) %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="authority__body">
  <div class="authority__body__foi-results">
    <% if @number_of_visible_requests.zero? %>
      <% if @public_body.is_requestable? or @public_body.not_requestable_reason != 'defunct' %>
        <% if @public_body.eir_only? %>
          <h2><%= _('Environmental Information Regulations requests made using this site') %></h2>
          <p>Nobody has made any Environmental Information Regulations requests to <%=h(@public_body.name)%> using this site yet.</p>
        <% else %>
          <h2><%= _('Freedom of Information requests made using this site')%></h2>
          <p><%= _('Nobody has made any Freedom of Information requests to {{public_body_name}} using this site yet.', :public_body_name => h(@public_body.name))%></p>
        <% end %>
      <% end %>
    <% else %>
      <% unless @page_desc.blank? %>
        <h2 class="foi_results">
          <%= @page_desc %>
        </h2>
      <% end %>
      <a name="results"></a>
      <% if @number_of_visible_requests > 4 %>
        <%= render :partial => 'request/request_filter_form' %>
      <% end %>
    <% end %>
    <% if @xapian_requests %>
      <% @xapian_requests.results.each do |result| %>
        <%= render :partial => 'request/request_listing_via_event', :locals => { :event => result[:model] } %>
      <% end %>
      <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @xapian_requests.matches_estimated) %>
      <% if @xapian_requests.results.empty? %>
        <p><% _('There were no requests matching your query.') %></p>
      <% else %>
        <p>
          <%= _('Only requests made using {{site_name}} are shown.',
                :site_name => site_name) %>
          <%= link_to _('?'), help_about_path %>
        </p>
      <% end %>
    <% else %>
      <% if @public_body.eir_only? %>
        <h2><%= _('Environmental Information Regulations requests made') %></h2>
      <% else %>
        <h2> <%= _('Freedom of Information requests made')%></h2>
      <% end %>
      <p> <%= _('The search index is currently offline, so we can\'t show ' \
                  'the Freedom of Information requests that have been made ' \
                  'to this authority.') %></p>
    <% end %>
  </div>
  <div class="authority__body__sidebar" role="complementary">
    <% if @number_of_visible_requests > 4 %>
      <%= render :partial => 'request/request_search_form' %>
    <% end %>
    <div class="sidebar__section more_info">
      <%= render :partial => 'more_info', :locals => { :public_body => @public_body } %>
    </div>
    <%= render :partial => 'blog_posts/blog_posts', :locals => { :taggable => @public_body } %>
  </div>
</div>
