#!/bin/bash
#
### BEGIN INIT INFO
# Provides: alaveteli-poll-for-incoming
# Required-Start: $local_fs $syslog
# Required-Stop: $local_fs $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: alaveteli-poll-for-incoming is a daemon running the Alaveteli incoming mail poller
# Description: alaveteli-poll-for-incoming imports incoming mail into Alaveteli as required
### END INIT INFO
#
# alaveteli-poll-for-incoming Start the Alaveteli incoming mail poller daemon

NAME=alaveteli-poll-for-incoming
DAEMON={{ alaveteli_path }}/script/runner
DAEMON_ARGS="--daemon AlaveteliMailPoller.poll_for_incoming_loop"
PIDDIR={{ alaveteli_path }}/tmp/pids
PIDFILE=$PIDDIR/alaveteli-poll-for-incoming.pid
LOGDIR={{ alaveteli_path }}/log
LOGFILE=$LOGDIR/alaveteli-poll-for-incoming.log
DUSER=alaveteli
SITE_HOME={{ alaveteli_path }}
# Set RAILS_ENV - not needed if using config/rails_env.rb
# RAILS_ENV=your_rails_env
# export RAILS_ENV
PATH=/usr/local/bin:/usr/bin:/bin
RBENV_ROOT="/home/alaveteli/.rbenv"
PATH="$RBENV_ROOT/bin:$RBENV_ROOT/shims:$PATH"

trap "" 1

export PIDFILE LOGFILE

quietly_start_daemon() {
    mkdir -p {$LOGDIR,$PIDDIR}
    chown $DUSER:$DUSER {$LOGDIR,$PIDDIR}
    /sbin/start-stop-daemon --quiet --start --pidfile "$PIDFILE" --user "$DUSER" --chuid "$DUSER" --chdir "$SITE_HOME" --startas "$DAEMON" -- $DAEMON_ARGS
}

start_daemon() {
    mkdir -p {$LOGDIR,$PIDDIR}
    chown $DUSER:$DUSER {$LOGDIR,$PIDDIR}
    /sbin/start-stop-daemon --quiet --start --pidfile "$PIDFILE" --user "$DUSER" --chuid "$DUSER" --chdir "$SITE_HOME" --startas "$DAEMON" -- $DAEMON_ARGS
}

stop_daemon() {
    /sbin/start-stop-daemon --stop --oknodo --retry 5 --user "$DUSER" --pidfile "$PIDFILE"
}

restart() { stop; start; }

case "$1" in
  check)
      quietly_start_daemon
      if [ $? -ne 1 ]
      then
          echo "Alaveteli incoming mail poller daemon was not running; now restarted"
          exit 1
      else
          exit 0
      fi
      ;;

  start)
      echo -n "Starting Alaveteli incoming mail poller daemon: $NAME"
      start_daemon
      ;;

  stop)
        echo -n "Stopping Alaveteli incoming mail poller daemon: $NAME"
        stop_daemon
        ;;

  restart)
      echo -n "Restarting Alaveteli incoming mail poller daemon: $NAME"
      stop_daemon
      start_daemon
      ;;

  *)
    echo "Usage: /etc/init.d/$NAME {start|stop|restart|check}"
    exit 1
    ;;
esac

if [ $? -eq 0 ]; then
    echo .
    exit 0
else
    echo " failed"
    exit 1
fi
