# Timed tasks for Alaveteli site.
#
# Copyright (c) 2013 UK Citizens Online Democracy. All rights reserved.

PATH=/home/alaveteli/.rbenv/shims:/usr/local/bin:/usr/bin:/bin

MAILTO={{ webmaster_email }}

# Every 5 minutes
*/5 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/change-xapian-database.lock "{{ alaveteli_path }}/script/update-xapian-index verbose=true" >> {{ alaveteli_path }}/log/update-xapian-index.log || echo "stalled?"
# Every 10 minutes
0,10,20,30,40,50 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/send-batch-requests.lock {{ alaveteli_path }}/script/send-batch-requests || echo "stalled?"
{% if inventory_hostname == 'madada.fr' %}
2,7,12,17,22,27,32,37,42,47,52,57 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/filter-new-emails.lock {{ alaveteli_path }}/script/run-email-filters || echo "stalled?"
3,13,23,33,43,53 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/notify_appeal.lock "cd {{ alaveteli_path }} && bundle exec rake --silent madada_appeal_notifications:notify_public_bodies" || echo "stalled?"
{% else %}
# reduce frequency on staging host to limit volume of emails sent in case of problems
2,22,42 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/filter-new-emails.lock {{ alaveteli_path }}/script/run-email-filters || echo "stalled?"
{% endif %}

# Once an hour
09 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-comment-on-request.lock {{ alaveteli_path }}/script/alert-comment-on-request || echo "stalled?"
31 * * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/load-mail-server-logs.lock {{ alaveteli_path }}/script/load-mail-server-logs || echo "stalled?"
52 * * * * alaveteli /usr/local/bin/check_health

# Once a day, early morning
31 1 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/change-xapian-database.lock "{{ alaveteli_path }}/script/compact-xapian-database production alaveteli" || echo "stalled?"
0 0 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/delete-expired-embargoes.lock {{ alaveteli_path }}/script/delete-expired-embargoes || echo "stalled?"
23 4 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/delete-old-things.lock {{ alaveteli_path }}/script/delete-old-things || echo "stalled?"
0 5 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/update-overdue-info-request-events.lock {{ alaveteli_path }}/script/update-overdue-info-request-events || echo "stalled?"
0 6 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-overdue-requests.lock {{ alaveteli_path }}/script/alert-overdue-requests || echo "stalled?"
0 6 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/send-webhook-digest.lock {{ alaveteli_path }}/script/send-webhook-digest || echo "stalled?"
0 7 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-new-response-reminders.lock {{ alaveteli_path }}/script/alert-new-response-reminders || echo "stalled?"
0 7 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-survey.lock {{ alaveteli_path }}/script/alert-survey || echo "stalled?"
0 8 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-not-clarified-request.lock {{ alaveteli_path }}/script/alert-not-clarified-request || echo "stalled?"
0 9 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-embargoes-expiring.lock {{ alaveteli_path }}/script/alert-embargoes-expiring || echo "stalled?"
0 10 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/update-expiring-embargo-info-request-events.lock {{ alaveteli_path }}/script/update-expiring-embargo-info-request-events || echo "stalled?"
0 12 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/alert-embargoes-expired.lock {{ alaveteli_path }}/script/alert-embargoes-expired || echo "stalled?"
2 4 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/check-recent-requests-sent.lock {{ alaveteli_path }}/script/check-recent-requests-sent || echo "stalled?"
45 3 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/stop-new-responses-on-old-requests.lock {{ alaveteli_path }}/script/stop-new-responses-on-old-requests || echo "stalled?"
30 4 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/storage-raw-emails.lock "cd {{ alaveteli_path }} && bin/rails --quiet storage:raw_emails:mirror storage:raw_emails:promote storage:raw_emails:unlink" || echo "stalled?"
55 4 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/update-public-body-stats.lock {{ alaveteli_path }}/script/update-public-body-stats || echo "stalled?"
30 5 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/storage-attachments.lock "cd {{ alaveteli_path }} && bin/rails --quiet storage:attachments:mirror storage:attachments:promote storage:attachments:unlink" || echo "stalled?"
40 2 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/users-signins-purge.lock "cd {{ alaveteli_path }} && bin/rails users:sign_ins:purge" || echo "stalled?"
38 2 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/public-body-export.lock "cd {{ alaveteli_path }} && bin/rails public_body:export" || echo "stalled?"
59 7 * * * alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/remind-after-three-weeks.lock "cd {{ alaveteli_path }} && bundle exec rake --silent madada_reminders:remind_after_three_weeks" || echo "stalled?"

# Once a day on all servers
43 2 * * * alaveteli {{ alaveteli_path }}/script/request-creation-graph
48 2 * * * alaveteli {{ alaveteli_path }}/script/user-use-graph

# Once a week (very early Monday morning)
54 2 * * 1 alaveteli {{ alaveteli_path }}/script/cleanup-holding-pen

# Once a week (early Monday morning)
37 8 * * 1 alaveteli {{ alaveteli_path }}/commonlib/bin/run-with-lockfile.sh -n /var/www/send-pro-metrics-report.lock {{ alaveteli_path }}/script/send-pro-metrics-report || echo "stalled?"

# Once a week (on a Wednesday evening)
42 23 * * 3 alaveteli {{ alaveteli_path }}/script/download-geoip-data

# Once a year :)
0 0 1 11 * alaveteli {{ alaveteli_path }}/script/send-public-holiday-reminder


# check that other daemons are running
5,15,25,35,45,55 * * * * alaveteli /etc/init.d/alaveteli-poll-for-incoming check
5,15,25,35,45,55 * * * * alaveteli /etc/init.d/alaveteli-send-notifications check
5,15,25,35,45,55 * * * * alaveteli /etc/init.d/alaveteli-alert-tracks check
