# vim: filetype=yaml.docker-compose
---
version: "3.3"

services:

  meilisearch:
    image: getmeili/meilisearch:v1.7.1
    environment:
      - MEILI_MASTER_KEY={{ meilisearch_master_key }}
      - MEILI_MAX_INDEXING_MEMORY=200Mb
      - MEILI_HTTP_PAYLOAD_SIZE_LIMIT=200Mb
      - MEILI_ENV=production
    ports:
      - "127.0.0.1:7700:7700"
    volumes:
      - meili_data:/meili_data

  metabase:
    image: metabase/metabase:v0.50.27
    environment:
      - MB_DB_TYPE=postgres
      - MB_DB_DBNAME={{ metabase_db_name }}
      - MB_DB_PORT=5432
      - MB_DB_USER={{ metabase_db_user }}
      - MB_DB_PASS={{ metabase_db_password }}
      - MB_DB_HOST=172.18.0.1
      - JAVA_OPTS=-Xmx1g
    networks:
      statsnet:
    # only restart metabase in production, to save resources elsewhere
    restart: "{{ metabase_restart_policy | default('no') }}"

    ports:
      - "127.0.0.1:3000:3000"

  redis:
    # used by alaveteli to queue background jobs
    image: redis:7.2.0
    ports:
      - "6379:6379"
    restart: "on-failure"
    volumes:
      - redis-data:/data

networks:
  statsnet:
    ipam:
      config:
        - subnet: 172.18.0.0/16

volumes:
  # these are under /var/lib/docker/volumes/
  # on the server
  meili_data:
    name: meili_data
  redis-data:
    name: redis-data
