## Authentication
# We just use a passwd-file which contains all the accounts that can
# login to the server over pop3/imap

# https://doc.dovecot.org/2.3/configuration_manual/authentication/passwd_file/#authentication-passwd-file
passdb {
  driver = passwd-file
  # use Blowfish encryption, allow username@domain login
  args = scheme=blf-crypt username_format=%n {{ imap_userdb_filename }}
}

userdb {
  driver = passwd-file
  args = username_format=%n {{ imap_userdb_filename }}
}

auth_mechanisms = plain login
