##
## SSL settings
##

ssl = required
# certs below are not actually used unless ssl is set to yes or required above
ssl_cert = </etc/letsencrypt/live/{{ site_domain }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ site_domain }}/privkey.pem
#ssl_key_password =
#ssl_parameters_regenerate = 168

ssl_cipher_list = ALL:!kRSA:!SRP:!kDHd:!DSS:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK:!RC4:!ADH:!LOW@STRENGTH
ssl_prefer_server_ciphers = yes

# this can get quite chatty, remove it once the system is working properly
# verbose_ssl = yes

# Client certificate support
#ssl_ca =
#ssl_require_crl = yes
#ssl_verify_client_cert = no
#ssl_cert_username_field = commonName
