{{ pop_mailer_username }}:{{ pop_mailer_password_crypted }}:{{ pop_mailer_username }}:{{ pop_mailer_username }}::/home/{{ pop_mailer_username }}::/home/{{ pop_mailer_username }}::userdb_mail=maildir:~/Maildir allow_nets=local,::1,127.0.0.1/32
support:{{ support_email_password_crypted }}:support:{{ pop_vmail_username }}::/home/support::userdb_mail=maildir:~/Maildir allow_nets={{ monitoring_server_ip }},::1,127.0.0.1/32
contact:{{ contact_email_password_crypted }}:contact:{{ pop_vmail_username }}::/home/contact::userdb_mail=maildir:~/Maildir allow_nets={{ monitoring_server_ip }},::1,127.0.0.1/32,{{ hostvars[inventory_hostname]['ansible_default_ipv6']['address'] }}
