# vim: filetype=nginx
# Redirect any http:// request to https://www.example.com
server {
  listen 80;
  listen [::]:80;
  server_name {{ search_site_url }};
  rewrite ^(.*) https://{{ search_site_url }}$request_uri permanent;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ search_site_url }};

    # meilisearch shouldn't need big uploads through its public url
    # all data uploads happen outside of nginx
    client_max_body_size 1M;

    server_tokens off;

    access_log /var/log/nginx/meili_ssl_access.log;
    error_log /var/log/nginx/meili_ssl_error.log error;

    location / {
        proxy_pass http://127.0.0.1:7700;
    }

    # HSTS: force browsers to connect to https after their first visit
    add_header Strict-Transport-Security "max-age=300; includeSubDomains" always;

    ssl_certificate /etc/letsencrypt/live/{{ search_site_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ search_site_url }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;

    passenger_min_instances 1;
}
