# vim: filetype=nginx
# The config file for the alaveteli site.
# There are 2 parts, one for local development with no SSL
# and the second part for real servers, with SSL enabled.

{% if inventory_hostname == 'default' %}
# local development server: no ssl
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ site_domain }};
    root {{ alaveteli_path }}/public;
    client_max_body_size 15M;
    access_log /var/log/nginx/alaveteli_access.log;
    error_log /var/log/nginx/alaveteli_error.log error;
    passenger_enabled on;
    passenger_ruby /home/alaveteli/.rbenv/versions/{{ ruby_version }}/bin/ruby;
    # help debugging
    passenger_friendly_error_pages on;
}

{% else %}
# FOR REAL SERVERS, USE HTTPS

# Redirect any http:// request to https://www.example.com
server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name {{ site_domain }};
  rewrite ^(.*) https://{{ site_domain }}$request_uri permanent;
}

server {
    listen 443 default_server ssl;
    listen [::]:443 default_server ssl;
    server_name {{ site_domain }};
    root {{ alaveteli_path }}/public;

    # block Bytespider / Bytedance which does not appear to respect robots.txt
    if ($http_user_agent ~* Bytespider) {
        # no response HTTP code
        return 444;
    }

    client_max_body_size 15M;

    server_tokens off;

    #try_files $uri/index.html $uri @alaveteli;

    access_log /var/log/nginx/alaveteli_ssl_access.log;
    error_log /var/log/nginx/alaveteli_ssl_error.log error;

    # compress js/css/etc... with gzip to reduce transfer size
    gzip on;
    gzip_comp_level 6;
    gzip_min_length 1024;
    gzip_static on;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;

    location /download {
        internal;
        alias {{ alaveteli_path }}/cache/zips/production/download;
    }

    location /datadump {
        # make the database dump publicly available
        # the file is at {{ alaveteli_path }}/public/dadadump.sql
        try_files /{{ datadump_db_name }}.sql =404;
        default_type text/plain;
        add_header Content-disposition "attachment; filename={{ datadump_db_name }}.sql";
    }

    location /restricted {
        # files are under {{ alaveteli_path }}/public/restricted
        try_files $uri =404;
        default_type text/plain;
        auth_basic           "restricted access";
        auth_basic_user_file /etc/nginx/htpasswd_madada_restricted;
    }

    ssl_certificate /etc/letsencrypt/live/{{ site_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site_domain }}/privkey.pem;
    # TLS and ciphers config from https://ssl-config.mozilla.org/#server=nginx&version=1.17.7&config=intermediate&openssl=1.1.1k&guideline=5.7
    # which should ensure compatibility with most oldish browsers
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;

    passenger_enabled on;
    passenger_ruby /home/alaveteli/.rbenv/versions/{{ ruby_version }}/bin/ruby;

    # see: https://www.phusionpassenger.com/library/config/nginx/optimization/
    passenger_min_instances {{ passenger_min_instances_alaveteli }};
    # See: https://www.phusionpassenger.com/library/config/nginx/reference/#passenger_max_requests
    # the value of 20k corresponds to about 1.5GB size in memory
    passenger_max_requests 20000;
}
{% endif %}

{% if inventory_hostname == 'madada.fr' %}
server {
  listen 443;
  listen [::]:443;
  # using `server_name _` does not work, the block above
  # takes priority
  server_name dadaprod1.madada.fr;
  # kill unwanted connections to extra domains so they
  # don't reach rails
  return 444;
}
{% endif %}
