# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

home_mailbox = Maildir/

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

#
# TLS parameters
#
smtpd_tls_cert_file=/etc/letsencrypt/live/{{ site_domain }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ site_domain }}/privkey.pem
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# TLS parameters for sending (postfix acting as a client)
# try tls when sending ("encrypt" is too strict as multiple legitimate recipient
# servers do not offer TLS yet, so we stick to opportunistic TLS)
# https://www.postfix.org/TLS_README.html#client_tls_levels
smtp_tls_security_level = may

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = {{ server_fqdn }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = {{ site_domain }}, localhost.localdomain , localhost
relayhost =
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 0

# max acceptable size for incoming messages, in bytes
# Note that the "user size" is ~30% less due to base64 encoding
message_size_limit = 30720000

recipient_delimiter = +
inet_interfaces = all
inet_protocols = all
# try to connect over ipv4 first to reduce problems with
# blocklisted ipv6 address
# Docs: https://www.postfix.org/postconf.5.html#smtp_address_preference
smtp_address_preference = ipv4

# alaveteli config extras
transport_maps = regexp:/etc/postfix/transports

# explicitly set local_recipient_map to limit backscatter problems:
# if a recipient does not exist, postfix will notify the sender immediately,
# during the smtp exchange, instead of first accepting the email and then
# sending an error message.
local_recipient_maps = proxy:unix:passwd.byname regexp:/etc/postfix/recipients

recipient_bcc_maps = regexp:/etc/postfix/recipient_bcc

#
# DKIM settings
#
# smtpd_milters: opendkim, rspamd
smtpd_milters = local:/var/run/opendkim/opendkim.sock, inet:localhost:11332
non_smtpd_milters = local:/var/run/opendkim/opendkim.sock

# configure SASL auth via dovecot
# See https://doc.dovecot.org/2.3/configuration_manual/howto/postfix_and_dovecot_sasl/
# and # see https://www.postfix.org/SASL_README.html#server_sasl_enable
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes

smtpd_sasl_security_options = noanonymous
smtpd_sasl_tls_security_options = $smtpd_sasl_security_options
smtpd_tls_auth_only = yes

#
# rspamd milter options
#
# skip mail without checks if something goes wrong
milter_default_action = accept

# 6 is the default milter protocol version;
milter_protocol = 6
