<%= _('{{user_name}} would like a new authority added to {{site_name}}',
      user_name: @change_request.get_user_name.html_safe,
      site_name: site_name.html_safe) %>

<%= _('Authority:') %>
<%= @change_request.get_public_body_name %>

<%= _('Email:') %>
<%= @change_request.public_body_email %>

<%= _('Source:') %>
<%= @change_request.source_url %>

<%= _('Notes:') %>
<%= @change_request.notes %>

<%= _('Add the authority:') %>
<%= new_admin_body_url(change_request_id: @change_request.id,
                       only_path: false ) %>

<%= _('Close the request and respond:') %>
<%= edit_admin_change_request_url(@change_request, only_path: false ) %>

Comment gérer ce mail?
https://doc.madada.fr/admins/guide-support-admins/#demande-dajout-ou-de-modification-dune-nouvelle-autorite-administrative
