<style>
  .documents__facets {
    padding: 2em;
    margin-bottom: 1em;
  }
</style>
<div class="documents__facets">
  <div class="documents__facets__facet">
    <p>Par type d'administration</p>
    <ul>
      <li>Ministères</li>
      <li>Communes</li>
      <li>Education</li>
      <li>Justice</li>
      <li>Autres</li>
    </ul>
  </div>
  <div class="documents__facets__facet">
    <p>Type de document</p>
    <ul>
      <li>PDF</li>
      <li>Documents texte</li>
      <li>Tableurs</li>
      <li>Images</li>
      <li>Autres</li>
    </ul>
  </div>
</div>
