<style>
  .documents__search_bar {
    padding: 2em;
    margin-bottom: 1em;
  }
</style>
<div class="documents__search">
  <%= form_tag(documents_list_path, {:method => "get", :id => "documents_search_form"}) do %>
    <p>
      <%= text_field_tag 'query', params[:query], { :size => 40, :title => "Rechercher..." } %>
      <%= submit_tag _("Search") %>
    </p>
  <% end %>
</div>
