<style>
  .documents {
    clear: both;
  }
  .documents__left_column {
    float: left;
    width: 25%;
  }
  .documents__right_column {
    float: right;
    width: 75%;
  }
  .documents .doc_entry {
    border: 1px solid #ccc;
    padding: 2em;
    margin-bottom: 1em;
  }
  .documents .doc_filename {
      font-weight: bolder;
      font-size: 20px;
  }
  .documents .doc_issuer {
  }
</style>
<div class="documents">
  <h1>Documents</h1>
  <div class="documents__search_bar">
    <%= render partial: 'search_bar' %>
  </div>
  <div class="documents__left_column">
    <%= render partial: 'facets' %>
  </div>
  <div class="documents__right_column">
    <h2 class="documents_hit_count"><%= @xapian_docs.matches_estimated.to_s %> documents</h2>
    <% @docs.each do |doc| %>
      <div class="doc_entry" vocab="http://schema.org/" typeof="DigitalDocument">
        <meta property="inLanguage" content="fr">
        <div class="doc_filename" property="name"><%= link_to doc.filename, attachment_path(doc) %></div>
        <div class="doc_issuer" property="publisher">
          <meta property="sameAs" content="<%= doc.incoming_message.info_request.public_body.wikidata_url %>">
          Publié par:&nbsp;<%= public_body_link(doc.incoming_message.info_request.public_body) %>
        </div>
        <div class="doc_request">
          Dans:&nbsp;<%= link_to doc.incoming_message.info_request.title, request_url(doc.incoming_message.info_request) %>
        </div>
        <div class="doc_type" property="encodingFormat"><%= doc.content_type %></div>
        <div class="doc_size"><%= doc.display_size %></div>
        <div class="doc_publication_date" property="datePublished"><%= doc.created_at %></div>
      </div>
    <% end %>
  </div>
</div>
