<script>
  jQuery('#user_locale_switcher').find('.locale-list-trigger').each(function() {
    jQuery(this).click(function(){
      jQuery(this).parent().toggleClass('active');
    });
  });
</script>
<%= javascript_include_tag "tagging_widgets" %>
<%= javascript_include_tag "search_cada_opinions" %>

<script>
(function($) {
  // Define the tree as a list of items so we can feed it to
  // meilisearch. Compute a breadcrumbs path for each item,
  // by concatenating the steps leading to it, so that search
  // can match the full set of words.
    tree = [
      {
        id: 123,
        parent: null,
        q: "Le document que je souhaite demander concerne:",
        r: [
          {
            t: "La santé, les prestations sociales",
            goto: 224,
          },
          {
            t: "La santé et sécurité au travail",
            goto: 225,
          },
          {
            t: "La fonction publique",
            goto: 226,
          },
          {
            t: "L'urbanisme",
            goto: 227,
          },
          {
            t: "Les finances locales",
            goto: 228,
          },
          {
            t: "Un marché public",
            goto: 229,
          },
          {
            t: "Autres thèmes",
            goto: 230,
          },
        ]
      },
      {
        id: 224,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Relevés CPAM, CAF, retraites",
            comm: false,
            madada: false,
          },
          {
            t: "Dossier médical personnel ou éléments relatifs au secret médical d’une personne vivante ou décédée il y a moins de 25 ans",
            comm: false,
            madada: false,
          },
          {
            t: "Dossier médical concernant une personne décédée depuis plus de 25 ans (ou née il y a plus de 120 ans si la date de décès est inconnue)",
            comm: true,
            madada: true,
          },
        ],
      },
      {
        id: 225,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Attestations, consignes, résultats et rapports relatifs aux vérifications et contrôles",
            comm: true,
            madada: true,
            notes: "Communicable si le document date de plus de 50 ans",
          },
          {
            t: "Observations et mises en demeure notifiées par l'inspection du travail",
            comm: true,
            madada: true,
            notes: "Communicable si le document date de plus de 50 ans",
          },
        ],
      },
      {
        id: 226,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Un dossier d'agent public",
            comm: true,
            madada: false,
          },
          {
            t: "L'organigramme d'un service,  une liste d'agents",
            comm: true,
            madada: true,
          },
        ],
      },
      {
        id: 227,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Un permis de construire, de démolir, d'aménager",
            comm: true,
            madada: false,
            notes: "Les documents préparatoires ne sont pas communicables",
          },
          {
            t: "Un Plan Local d'Urbanisme (PLU) ou un Plan d'Occupation des Sols (POS)",
            comm: true,
            madada: true,
            notes: "Les documents préparatoires ne sont pas communicables",
          },
        ],
      },
      {
        id: 228,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Le budget, les factures",
            comm: true,
            madada: true,
          },
          {
            t: "Les subventions accordées aux associations",
            comm: true,
            madada: true,
          },
        ],
      },
      {
        id: 229,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Le Bordereau des Prix Unitaires (BPU), la décomposition des prix globaux et forfaitaires (DPGF), un mémoire technique",
            comm: false,
            madada: false,
          },
        ],
      },
      {
        id: 230,
        parent: 123,
        q: "De quel type de document s'agit-il?",
        r: [
          {
            t: "Délibérations des collectivités territoriales (compte rendu ou procès-verbal)",
            comm: true,
            madada: true,
            notes: "Communicable sauf délibérations concernant la vie privée, par exemple concernant le licenciement d'un agent pour faute",
          },
          {
            t: "Documents parlementaires",
            comm: false,
            madada: false,
            notes: "Les documents produits par une assemblée parlementaire ne sont en principe pas soumis au droit d'accès",
          },
        ],
      },
    ];

    /*
     * display the outcome of the series of questions
     */
    function showResult(node){
      var r = $("#result");
      r.empty();
      if (node.comm && !node.madada) {
        r.append("<div class='result'>Ces documents sont probablement communicables, mais pas via Ma Dada, parce qu'il existe des restrictions à leur diffusion. Ceci est le cas pour des documents qui ne peuvent être communiqués qu'à des personnes spécifiques. Nous vous recommandons de contacter directement le service en question, hors de Ma Dada.</div>");
      } else if (node.comm && node.madada) {
        r.append('<div class="result">Ces documents peuvent être demandés via Ma Dada.</div>');
      } else {
        r.append('<div class="result">Ces documents ne sont pas communicables.</div>');
      }
      if (node.notes !== undefined) {
        r.append(`<span>${node.notes}</span>`);
      }

      r.append("<div><em>Notez que Ma Dada ne peut garantir la communicabilité (ou non) des documents que vous souhaitez demander. Il existe de nombreux cas d'exceptions difficiles à résumer ici.</em></div>");
    };

    /*
     * Traverse the decision tree, this is only callable on questions:
     * the leaves of the decision tree should be passed to showResult
     */
    function decide(node) {
        if (node.hasOwnProperty("comm")) {
            $("#result").text(node.comm);
            return;
        }

        $("#question").text(node.q);

        var $answers = $("#answers");
        $answers.empty();
        $.each(node.r, function(answer, subNode) {
            var $button = $('<span class="btn">').text(subNode.t).click(function() {
                if (subNode.goto !== undefined) {
                  var nextNode = tree.find(function(node) { return node.id === subNode.goto });
                  decide(nextNode);
                } else {
                  // we have a result, show it
                  $("#question").empty();
                  $answers.empty();
                  showResult(subNode);
                };
            });
            $answers.append($button);
        });
        $("div#back").empty().append('<span class="btn" id="restart">Recommencer</span>');
        $("span#restart").on("click", function() { $("#answers").add("#result").empty(); decide(tree[0]); });
    };

    $("div.request-assistant").one("click", function(evt) {
        $(this).empty();
        $(this).append('<div class="req_assistant_main"><div id="question" /><div id="answers"></div><div id="result" /><div id="back" /></div>');
        decide(tree[0]);
    });
})(jQuery);
</script>
