<% if status == 'saisine_cada' %>
  La CADA a été saisie pour cette demande. À notre connaissance, aucun avis n&apos;a été rendu à ce jour. La CADA a normalement un mois à compter de la date de la saisine pour émettre un avis.
<% elsif status == 'successful_with_dataset' %>
  <%= public_body_link(@info_request.public_body) %> a répondu avec <strong>un jeu de données</strong>.
<% else %>
  <% raise "unknown status " + status %>
<% end %>
