<style>
#featured-requests {
  margin-bottom: 5rem;
}
.hf-content__thumbs {
  margin-top: 2rem;
}
.hf-content__headings {
  text-align: center;
}
.featured-list {
  list-style: none outside none;
}

.featured-list li {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;
  position: relative;
  width: 18em;
}

.featured-box {
  height: auto;
  max-width: 800px;
  min-height: 18em;
  position: relative;
  width: 100%;
  &:hover,
  &:focus .overlay {
    background-color: #dedacd;
    border-radius: 3px;
    height: 100%;
    transition: all 300ms ease-out;
  }
}
.featured-box:hover .legend, .featured-list>li:focus .legend {
    border-radius: 3px;
    text-overflow: "";
    transition: all .3s ease-out;
    white-space: normal;
  }

.overlay {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(11, 107, 168, 0.9);
  bottom: 0;
  box-sizing: border-box;
  color: white;
  position: absolute;
  transition: all 300ms ease-out;
  width: 100%;
}

.overlay h2 {
  height: 100%;
  margin: 1rem;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 950px) {
  .overlay {
    background-color: rgba(11, 107, 168, 0.8);
    height: 100%;
    text-wrap: balance;
  }
  .overlay h2 {
    text-overflow: "";
    white-space: normal;
  }
}
</style>

<div class="homepage-featured-requests" id="featured-requests">
  <div class="row">
    <div class="homepage-featured-content">
      <div class="hf-content__headings">
        <h2>Demandes populaires</h2>
        <p class="hf__subtitle">
        Quelques succès du droit d'accès avec l'aide de Ma Dada:
        </p>
      </div>
      <div class="hf-content__thumbs">
        <ol class="featured-list row">
          <% @featured_requests.each do |fr| %>
          <li>
            <a href="<%= show_request_path(fr[:featured_url]) %>">
            <div class="featured-box" style="background-image: url(<%= fr[:featured_image] %>)">
              <div class="overlay">
                <h2 class="legend"><%= fr[:featured_text] %></h2>
              </div>
            </div>
            </a>
          </li>
          <% end %>
        </ol>
        <!-- <div class="learn-more-foi"> -->
        <!--   <a href="/aide/a_propos">En savoir plus →</a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
