<h1 class="intro__title">Vous avez le droit de savoir !</h1>
<p class="intro__description">
  Ma Dada est un site associatif qui vous aide à demander des documents publics, dits “administratifs” (rapports, délibérations, contrats, factures, algorithmes, correspondances, etc.)
</p>
