<div class="homepage-how-it-works" id="learn-more">
  <div class="row">
    <div class="homepage-how-it-works__hiw-content">
      <div class="hiw-content__headings">
        <h2><%= _("How it works") %></h2>
        <p class="hiw__subtitle">
        Ma Dada facilite l’accès aux documents produits ou reçus, dans le 
        cadre de leur mission de service public, par des personnes publiques 
        ou même privées. Le site n'est cependant pas conçu pour les demandes d'accès à des 
        documents personnels (amendes, solde de points du permis de 
        conduire, dossiers médicaux, etc.).
        </p>
      </div>
      <div class="hiw-content__steps">
        <ol class="steps__list row">
          <li>
            <div class="steps__step-box">
              <p>
              Sélectionnez l’administration auprès de laquelle vous souhaitez obtenir 
              un document, parmi les 50 000 autorités publiques référencées par Ma Dada.
              </p>
            </div>
            <div class="steps__step-number" aria-hidden="true">
              <p>1</p>
            </div>
          </li>
          <li>
            <div class="steps__step-box">
              <p>
              Ma Dada vous aide à formuler votre demande : vous n’avez qu’à indiquer 
              le (ou les) document(s) que vous souhaitez obtenir.
              </p>
            </div>
            <div class="steps__step-number" aria-hidden="true">
              <p>2</p>
            </div>
          </li>
          <li>
            <div class="steps__step-box">
              <p>
              L’autorité dispose d’un mois pour vous répondre. 
              L’ensemble des échanges (demande, réponse, et éventuels documents 
              communiqués) sont directement publiés sur Ma Dada.
              </p>
            </div>
            <div class="steps__step-number" aria-hidden="true">
              <p>3</p>
            </div>
          </li>
        </ol>
        <div class="learn-more-foi">
          <%= link_to _("Learn more &rarr;"), help_about_path %>
        </div>
      </div>
    </div>
  </div>
</div>
