<li class="<%= 'selected' if controller?('request') && !action?('new', 'select_authority') %>">
  <%= link_to "Demandes publiques", request_list_all_path %>
</li>

<li class="<%= 'selected' if controller?('public_body') %>">
  <%= link_to "Autorités", list_public_bodies_default_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('madada_blog') %>">
  <%= link_to _("Blog"), madada_blog_path %>
</li>

<li class="<%= 'selected' if controller?('help') %>">
  <%= link_to _("Help"), help_about_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('stats') %>">
  <%= link_to _("Statistiques"), stats_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('forum') %>">
  <%= link_to "Forum", forum_path %>
</li>
