<div class="only-show-for-print">
  <p class="print-information">Printed from <%= request.original_url.force_encoding('utf-8') %> on <%= Time.zone.now.to_formatted_s(:long)  %></p>
</div>
<div id="banner" class="banner <%= @in_pro_area ? 'banner--pro' : '' %>" role="banner">
  <div id="banner_inner" class="banner_inner">
    <div id="banner_content" class="banner_content">
      <div class="banner_site-title">
        <h1><%= link_to site_name, frontpage_path, :id => 'logo', :class => 'site-title__logo' %></h1>
      </div>

      <div class="rsp_menu_button">
        <a href="#banner" class="open"> <i class="icon-menu"></i> Menu </a>
        <a href="#" class="close"> <i class="icon-menu"></i> Close </a>
      </div>

      <%= render :partial => 'general/locale_switcher' %>
      <% if ! (controller.action_name == 'signin' or controller.action_name == 'signup' or controller.action_name == 'login') %>
        <%= render partial: 'general/log_in_bar' %>
      <% end %>
      <div id="navigation_search" class="navigation_search">
        <form id="navigation_search_form" class="navigation_search_form" method="get" action="<%= search_redirect_path %>" role="search">
          <label class="visually-hidden" for="navigation_search_button">
            <%= _("Search") %>
          </label>
          <%= text_field_tag 'query', params[:query], { :class => "navigation_search_button", :id => "navigation_search_button", :type => "search", :placeholder => _("Search"), :title => _("type your search term here") } %>
          <button type="submit" style="background-color: #063a5b;">
            <span class="visually-hidden">
              <%= _("Submit Search") %>
            </span>
          </button>
        </form>
        <div class="header_request_btn">
          <a class="new-request__make-new-requests" href="/selectionner_autorite" style="float: right;">Faire une demande »</a>
        </div>
      </div>
    </div>

    <%= render :partial => 'general/responsive_topnav' %>
  </div>
</div>

<% if params[:action] == 'frontpage' %>
  <div class="wrapper">
    <div class="homepage-flash">
      <% if flash[:notice] %>
        <div id="notice"><%= render_flash(flash[:notice]) %></div>
      <% end %>
      <% if flash[:error] %>
        <div id="error"><%= render_flash(flash[:error]) %></div>
      <% end %>
    </div>
  </div>

  <%= render :partial => "frontpage_hero" %>
<% end %>
