<% cache_if_caching_fragments("frontpage-#{@locale}", expires_in: 1.hour) do %>
  <%= render partial: 'frontpage_how_it_works' %>

  <%= render partial: 'frontpage_featured' %>

  <div id="frontpage_examples" class="frontpage_examples">
    <%= render partial: 'frontpage_bodies_list' %>
    <%= render partial: 'frontpage_requests_list' %>
  </div>

  <%= render partial: 'frontpage_blog' if Blog.enabled? %>
  <%= render partial: 'frontpage_extra' %>
<% end %>
