:root {
    --md-primary-fg-color: #0b6ba8;
}

.md-grid {
    max-width: 55rem;
}

.form_saisine_cada input[text] {
    width: 40em;
}

:root {
    --md-admonition-icon--marches-publics: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2 5h20v15H2zm18 13V7H4v11zM17 8a2 2 0 0 0 2 2v5a2 2 0 0 0-2 2H7a2 2 0 0 0-2-2v-5a2 2 0 0 0 2-2zm0 5v-1c0-1.1-.67-2-1.5-2s-1.5.9-1.5 2v1c0 1.1.67 2 1.5 2s1.5-.9 1.5-2m-1.5-2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5M13 13v-1c0-1.1-.67-2-1.5-2s-1.5.9-1.5 2v1c0 1.1.67 2 1.5 2s1.5-.9 1.5-2m-1.5-2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5M8 15h1v-5H8l-1 .5v1l1-.5z"/></svg>');
    --md-admonition-icon--donnees-stats: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 3h14a2 2 0 0 1 2 2v7.08a6 6 0 0 0-4.32.92H12v4h1.08c-.11.68-.11 1.35 0 2H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2m0 4v4h6V7zm8 0v4h6V7zm-8 6v4h6v-4zm13.75 8L15 18l1.16-1.16 1.59 1.59 3.59-3.59 1.16 1.41z"/></svg>');
    --md-admonition-icon--budget: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path d="M31.898 23.938C31.3 17.32 28 14 28 14l-6-8h-8l-6 8s-1.419 1.433-2.567 4.275C3.444 18.935 2 20.789 2 23c0 1.448.625 2.742 1.609 3.655C3.233 27.357 3 28.147 3 29c0 1.958 1.136 3.636 2.775 4.456C7.058 35.378 8.772 36 10 36h16c1.379 0 3.373-.779 4.678-3.31C32.609 31.999 34 30.17 34 28c0-1.678-.834-3.154-2.102-4.062zM18 6c.55 0 1.058-.158 1.5-.416.443.258.951.416 1.5.416 1.657 0 4-2.344 4-4 0 0 0-2-2-2-.788 0-1 1-2 1s-1-1-3-1-2 1-3 1-1.211-1-2-1c-2 0-2 2-2 2 0 1.656 2.344 4 4 4 .549 0 1.057-.158 1.5-.416.443.258.951.416 1.5.416z"/><path d="M24 6c0 .552-.447 1-1 1H13c-.552 0-1-.448-1-1s.448-1 1-1h10c.553 0 1 .448 1 1z"/><path d="M23.901 24.542c0-4.477-8.581-4.185-8.581-6.886 0-1.308 1.301-1.947 2.811-1.947 2.538 0 2.99 1.569 4.139 1.569.813 0 1.205-.493 1.205-1.046 0-1.284-2.024-2.256-3.965-2.592V12.4c0-.773-.65-1.4-1.454-1.4-.805 0-1.456.627-1.456 1.4v1.283c-2.116.463-3.937 1.875-3.937 4.176 0 4.299 8.579 4.125 8.579 7.145 0 1.047-1.178 2.093-3.111 2.093-2.901 0-3.867-1.889-5.045-1.889-.574 0-1.087.464-1.087 1.164 0 1.113 1.938 2.451 4.603 2.824l-.001.01v1.398c0 .772.652 1.4 1.456 1.4.804 0 1.455-.628 1.455-1.4v-1.398c0-.017-.008-.03-.009-.045 2.398-.43 4.398-1.932 4.398-4.619z"/></svg>');
    --md-admonition-icon--subventions: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 5h10v2H12m0 12v-2h10v2m-10-8h10v2H12m-3 0v2l-3.33 4H9v2H3v-2l3.33-4H3v-2M7 3H5c-1.1 0-2 .9-2 2v6h2V9h2v2h2V5a2 2 0 0 0-2-2m0 4H5V5h2Z"/></svg>');
    --md-admonition-icon--enviro: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 8h-6c-1.66 0-3 1.34-3 3v7c0 1.66 1.34 3 3 3l-1 1v1h1l2-2.03h2L20 23h1v-1l-1-1c1.66 0 3-1.34 3-3v-7c0-1.66-1.34-3-3-3m-6 11c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1m6 0c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1m1-3h-8v-6h8zM6.66 14.53 7 17l-1.05 1.06-1.76-3.18L1 13.11l1.06-1.08 2.5.37 3.87-3.87L1 4.62l1.42-1.41 9.19 2.12 3.89-3.89c.56-.585 1.56-.585 2.12 0 .59.59.59 1.56 0 2.12L14.18 7H14c-2.21 0-4 1.79-4 4v.19z"/></svg>');
    --md-admonition-icon--lobbying: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.--><path d="m323.4 85.2-96.8 78.4c-16.1 13-19.2 36.4-7 53.1 12.9 17.8 38 21.3 55.3 7.8l99.3-77.2c7-5.4 17-4.2 22.5 2.8s4.2 17-2.8 22.5L373 188.8 550.2 352H592c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48h-80.7l-3.9-2.5L434.8 79c-15.3-9.8-33.2-15-51.4-15-21.8 0-43 7.5-60 21.2m22.8 124.4-51.7 40.2c-31.5 24.6-77.2 18.2-100.8-14.2-22.2-30.5-16.6-73.1 12.7-96.8l83.2-67.3c-11.6-4.9-24.1-7.4-36.8-7.4C234 64 215.7 69.6 200 80l-72 48H48c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h108.2l91.4 83.4c19.6 17.9 49.9 16.5 67.8-3.1 5.5-6.1 9.2-13.2 11.1-20.6l17 15.6c19.5 17.9 49.9 16.6 67.8-2.9 4.5-4.9 7.8-10.6 9.9-16.5 19.4 13 45.8 10.3 62.1-7.5 17.9-19.5 16.6-49.9-2.9-67.8z"/></svg>');
    --md-admonition-icon--urbanisme: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 12c2.5 0 4.5 2 4.5 4.5 0 .88-.25 1.71-.69 2.4l3.08 3.1L21 23.39l-3.12-3.07c-.69.43-1.51.68-2.38.68-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5m0 2a2.5 2.5 0 0 0-2.5 2.5 2.5 2.5 0 0 0 2.5 2.5 2.5 2.5 0 0 0 2.5-2.5 2.5 2.5 0 0 0-2.5-2.5M14 6.11 8 4v11.89l1 .35v.26c0 .64.09 1.26.26 1.84L8 17.9l-5.34 2.07-.16.03a.5.5 0 0 1-.5-.5V4.38c0-.23.15-.41.36-.48L8 2l6 2.1L19.34 2h.16a.5.5 0 0 1 .5.5v9.31A6.48 6.48 0 0 0 15.5 10c-.5 0-1 .06-1.5.17z"/></svg>');
}

.md-typeset .admonition.marches-publics,
.md-typeset details.marches-publics {
    border-color: rgb(43, 155, 70);
}

.md-typeset .marches-publics>.admonition-title,
.md-typeset .marches-publics>summary {
    background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .marches-publics>.admonition-title::before,
.md-typeset .marches-publics>summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--marches-publics);
    mask-image: var(--md-admonition-icon--marches-publics);
}

.md-typeset .admonition.donnees-stats,
.md-typeset details.donnees-stats {
    border-color: #448aff;
}

.md-typeset .donnees-stats>.admonition-title,
.md-typeset .donnees-stats>summary {
    background-color: #448aff1a;
}

.md-typeset .donnees-stats>.admonition-title::before,
.md-typeset .donnees-stats>summary::before {
    background-color: #448aff;
    -webkit-mask-image: var(--md-admonition-icon--donnees-stats);
    mask-image: var(--md-admonition-icon--donnees-stats);
}

.md-typeset .admonition.budget,
.md-typeset details.budget {
    border-color: #64dd17;
}

.md-typeset .budget>.admonition-title,
.md-typeset .budget>summary {
    background-color: #64dd171a;
}

.md-typeset .budget>.admonition-title::before,
.md-typeset .budget>summary::before {
    background-color: #64dd17;
    -webkit-mask-image: var(--md-admonition-icon--budget);
    mask-image: var(--md-admonition-icon--budget);
}

.md-typeset .admonition.subventions,
.md-typeset details.subventions {
    border-color: #00b8d4;
}

.md-typeset .subventions>.admonition-title,
.md-typeset .subventions>summary {
    background-color: #00b8d41a;
}

.md-typeset .subventions>.admonition-title::before,
.md-typeset .subventions>summary::before {
    background-color: #00b8d4;
    -webkit-mask-image: var(--md-admonition-icon--subventions);
    mask-image: var(--md-admonition-icon--subventions);
}

.md-typeset .admonition.enviro,
.md-typeset details.enviro {
    border-color: #00c853;
}

.md-typeset .enviro>.admonition-title,
.md-typeset .enviro>summary {
    background-color: #00c8531a;
}

.md-typeset .enviro>.admonition-title::before,
.md-typeset .enviro>summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-admonition-icon--enviro);
    mask-image: var(--md-admonition-icon--enviro);
}

.md-typeset .admonition.lobbying,
.md-typeset details.lobbying {
    border-color: #ff9100;
}

.md-typeset .lobbying>.admonition-title,
.md-typeset .lobbying>summary {
    background-color: #ff91001a;
}

.md-typeset .lobbying>.admonition-title::before,
.md-typeset .lobbying>summary::before {
    background-color: #ff9100;
    -webkit-mask-image: var(--md-admonition-icon--lobbying);
    mask-image: var(--md-admonition-icon--lobbying);
}

.md-typeset .admonition.urbanisme,
.md-typeset details.urbanisme {
    border-color: #ff9100;
}

.md-typeset .urbanisme>.admonition-title,
.md-typeset .urbanisme>summary {
    background-color: #ff91001a;
}

.md-typeset .urbanisme>.admonition-title::before,
.md-typeset .urbanisme>summary::before {
    background-color: #ff9100;
    -webkit-mask-image: var(--md-admonition-icon--urbanisme);
    mask-image: var(--md-admonition-icon--urbanisme);
}

// repatriate google fonts at build time so we do not load any external assets
// docs: https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts/#customization
// Code below copied from dev tools/inspector/fonts tab :)

// src: https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2
@font-face {
    font-family: "Roboto";
    src: url("stylesheets/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

// src: https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2
@font-face {
    font-family: "Roboto";
    src: url("stylesheets/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

// src: https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2
@font-face {
    font-family: "Roboto";
    src: url("stylesheets/KFOlCnqEu92Fr1MmWUlfBBc4.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

// src: https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2
@font-face {
    font-family: "Roboto Mono";
    src: url("stylesheets/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

:root {
    --md-text-font: "Roboto";
}

:root {
    --md-code-font: "Roboto Mono";
}
