<% if user && user.admin_page_links? %>
  <span style="list-style: none; margin-top:0; padding-left: 0;">
    <%= user_admin_link_for_request(info_request, _('external'),"🙂 #{info_request.user.name}") %></br>
    <a href="<%= admin_body_url(info_request.public_body)%>">🏛️ <%= info_request.public_body.name %></a></br>
    <a href="<%= admin_request_url(info_request)%>">📃 admin</a></br>
    <a href="<%= info_request_batch_path(info_request.info_request_batch) %>">📎 Série de <%= info_request.info_request_batch.public_bodies.count %> demandes</br>
  </span>
<% elsif @user.nil? %>
  Demande adressée à <%= public_body_link(info_request.public_body) %> dans le cadre d'un <a href="<%= info_request_batch_path(info_request.info_request_batch) %>">lot envoyé à <%= info_request.info_request_batch.public_bodies.count %> autorités</a>
<% else %>
  <%= _('{{user}} made this {{law_used_full}} request to {{public_body}} as ' \
        'part of <a href="{{url}}">a batch sent to {{count}} authorities</a>',
        user: request_user_link(info_request, _('An anonymous user')),
        law_used_full: h(info_request.legislation.to_s(:full)),
        public_body: public_body_link(info_request.public_body),
        url: info_request_batch_path(info_request.info_request_batch),
        count: info_request.info_request_batch.public_bodies.count) %>
<% end %>
