<% if user && user.admin_page_links? %>
  <span style="list-style: none; margin-top:0; padding-left: 0;">
    🙂 <%= user_admin_link_for_request(info_request, _('external'), info_request.user.name) %></br>
    🏛️ <a href="<%= admin_body_url(info_request.public_body)%>"><%= info_request.public_body.name %></a></br>
    📃 <a href="<%= admin_request_url(info_request)%>">admin</a></br>
  </span>
<% elsif @user.nil? %>
  Demande adressée à <%= public_body_link(info_request.public_body) %>
<% else %>
  <%= _('{{user}} made this {{law_used_full}} request to {{public_body}}',
        user: request_user_link(info_request, _('An anonymous user')),
        law_used_full: h(info_request.legislation.to_s(:full)),
        public_body: public_body_link(info_request.public_body)) %>
<% end %>
