<div id="user_profile_header" class="user_profile_header">
  <div id="header_right" class="sidebar header_right">
    <% if @track_thing %>
      <h2><%= _('Track this person') %></h2>
      <%= render :partial => 'track/tracking_links', :locals => { :track_thing => @track_thing, :own_request => false, :location => 'sidebar' } %>
      <%= render :partial => 'track/rss_feed', :locals => { :track_thing => @track_thing, :location => 'sidebar' } %>
    <% end %>

    <% if @xapian_requests %>
      <h2><%= _('On this page') %></h2>
      <a href="#foi_requests"><%= _('FOI requests') %></a>
      <% if feature_enabled?(:annotations) %>
        <br><a href="#annotations"><%= _('Annotations') %></a>
      <% end %>
    <% end %>
  </div>

  <div id="header_left" class="header_left">
    <p id="user_photo_on_profile" class="user_photo_on_profile">
      <% if @display_user.show_profile_photo? %>
        <% if @is_you %>
          <a href="<%= set_profile_photo_url %>">
        <% end %>

        <%= image_tag get_profile_photo_url(url_name: @display_user.url_name) %>

        <% if @is_you %>
          </a>
        <% end %>

      <% else %>
        <% if @is_you %>
          <span id="set_photo" class="set_photo">
            <%= link_to _('Set your profile photo'), set_profile_photo_path %>
          </span>
        <% end %>
      <% end %>
    </p>

    <h1><%= h(@display_user.name) + (@is_you ? _(" (you)") : "") %></h1>

    <% if @display_user.active? && @is_you %>
      <p><%= link_to _('Change your name'), edit_users_name_path %></p>
    <% end %>

    <%# safe_previous_names produces about 7* user.requests.count SQL queries! %>
    <%# <% if @display_user.active? && @display_user.safe_previous_names.any? %>
    <%#   <p>
    <%#     <%= _('Previously known as:') %>
    <%#     <%= @display_user.safe_previous_names.to_sentence %>
    <%#   </p>
    <%# <% end %>

    <p class="subtitle">
      <%= _('Joined {{site_name}} in {{year}}',
            :site_name => site_name,
            :year => @display_user.created_at.year) %>
      <% if @user && @user.admin_page_links? %>
        (<%= link_to "admin", admin_user_path(@display_user) %>)
      <% end %>
    </p>

    <% if @display_user.active? %>
      <p>
        <% if @is_you %>
          <%= link_to _('Send message to {{user_name}} just to see how it works',
                        user_name: h(@display_user.name)),
                      contact_user_path(url_name: @display_user.url_name) %>
        <% else %>
          <%= link_to _('Send message to {{user_name}}',
                        user_name: h(@display_user.name)),
                      contact_user_path(url_name: @display_user.url_name) %>
        <% end %>
      </p>
    <% else %>
      <div id="user_public_suspended">
        <p>
          <strong>
            <%= _('This user has been suspended from {{site_name}} ',
                  :site_name=>site_name) %>
          </strong>
        </p>

        <p>
          <%= _('They have been given the following explanation:') %>
        </p>

        <p class="details">
          <%= @display_user.can_fail_html %>
        </p>
      </div>
    <% end %>

    <%= render :partial => 'user/show_user_info' %>

    <% unless @is_you %>
      <p id="user_not_logged_in" class="user_not_logged_in">
        <%= _('<a href="{{url}}">Sign in</a> to change password, ' \
                 'subscriptions and more ({{user_name}} only)',
              :user_name => h(@display_user.name),
              :url => signin_url(:r => request.fullpath).html_safe) %>
      </p>
    <% end %>
  </div>
</div>

<div style="clear:both"></div>

