<script>
  $(document).ready(function () {
    $("#incoming_message_tag_string").TagsWidget({
      tagInputPlaceholder: "ajouter des tags...",
      tagContainerBorderColor: "#d3d3d3",
      tagBackgroundColor: "#f7f7f9",
      tagColor: "#d14",
      tagBorderColor: "#e1e1e8",
    });
  });
</script>
<%= render partial: 'intro', locals: { incoming_message: @incoming_message } %>

<%= render partial: 'admin_incoming_message/admin_columns',
           locals: { incoming_message: @incoming_message } %>

<%= render partial: 'actions', locals: { incoming_message: @incoming_message } %>

<%= form_tag admin_incoming_message_path(@incoming_message), method: 'put', class: 'form form-inline' do %>
  <fieldset class="form-horizontal">
    <legend>Attributs</legend>
      <div class="control-group">
        <label class="control-label" for="incoming_message_tag_string">Tags</label>

        <div class="controls">
          <%= text_field 'incoming_message', 'tag_string', class: 'span6' %>
        </div>
      </div>
  </fieldset>

  <fieldset class="form-horizontal">
    <legend>Prominence</legend>

    <div class="control-group">
      <label class="control-label" for="incoming_message_prominence">Prominence</label>

      <div class="controls">
        <%= select 'incoming_message', 'prominence', IncomingMessage.prominence_states %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="incoming_message_prominence_reason">Reason for prominence</label>

      <div class="controls">
        <%= text_area 'incoming_message', 'prominence_reason', rows: 5, class: 'span6' %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions" >
    <%= submit_tag 'Save', class: 'btn btn-success' %>
  </div>
<% end %>

<%= render partial: 'foi_attachments',
           locals: { foi_attachments: @incoming_message.foi_attachments } %>

