<% @title = "À propos d'Alaveteli" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1><%= _("Voulez-vous un site comme celui-ci dans votre pays ?") %></h1>
  <% else %>
    <h1>Ce site fonctionne grâce à Alaveteli</h1>
  <% end %>
  <p>Ce site s'appuie sur la logiciel libre <a href="http://alaveteli.org">Alaveteli</a>, créé et géré par l'association <a href="https://www.mysociety.org">mySociety</a>. Comme pour Ma Dada en France, Alaveteli a été décliné, traduit et adapté dans plusieurs pays du monde, donnant naissance à des sœurs et frères de Ma Dada dans le monde entier, et permettant ainsi d'effectuer des demandes dans le cadre de lois sur le droit d'accès à l'information de chaque pays.

  <p>Le développement d'Avateli est soutenu par de nombreuses fondations et associations pour la défense de la transparence des administrations partout dans le monde.</p>

  <p>Si vous souhaitez créer un site Alaveteli dans votre pays, nous pouvons vous aider. Quelques jours seront nécessaires à la configuration du site. Il faudra ensuite compter une heure par semaine minimum pour la gestion et la modération du site (un peu plus pour les sites très actifs).</p>

  <p>Pous en savoir plus, visitez le <a href="http://alaveteli.org">site d'Alaveteli</a>, ou <a href="mailto:hello@alaveteli.org">envoyez-nous un email</a>.</p>

  <div id="hash_link_padding"></div>
</div>
