<% @title = "À propos de notre API" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>Introduction</dt>
    <dd>
      <p>Cette page explique comment les programmeurs peuvent faire interagir d'autres sites web et logiciels avec Ma Dada via une "API".
      </p>

      <p> <%= site_name %> n'a pas d'API complète pour l'instant, mais nous ajoutons graduellement des éléments dont l'usage se rapproche de celui d'une API. Cette page sera prochainement traduite en français.
      </p>
    </dd>

    <dt>Lien vers les nouvelles requêtes</dt>
    <dd>
      <p>Afin d'encourager les utilisateur.rice.s à faire des liens vers les demandes adressées à une autorité adiministrative en particulier, utilisez les URL sous la forme
        <%= link_to new_request_to_body_path(:url_name => "liverpool_city_council") , new_request_to_body_path(:url_name => "liverpool_city_council") %>.
        Les paramètres ci-dessous peuvent être ajoutés à vos URL, soit dans l'URL soit dans le formulaire.
      </p>
        <ul>
          <li> <strong>title</strong> - résumé par défaut de la nouvelle requête.</li>
          <li> <strong>default_letter</strong> - texte par défaut du corps de la demande. La formule de politesse d'introduction (Chère...) et de salutation (Veuillez...) sont intégrées à l'intérieur. </li>
          <li> <strong>body</strong> - il s'agit d'une alternative à default_letter, qui fournit le texte entier de la demande, de manière à vous laisser la possibilité de modifier les formules de politesse. </li>
          <li> <strong>tags</strong> - liste séparé par des virgules des mots-clés, vous permettant de trouver et de lier aux demandes en cours et à venir associées à ces mots-clés, par exemple <em>autorités-locales spending_id:12345</em>. les : indiquent qu'il s'agit d'un mot-clé fourni par le logiciel. Les valeurs des mots-clés fournis par le logiciel peuvent inclure des :, utiles pour les URIs.
        </ul>
    </dd>

    <dt>Flux RSS (Atom) </dt>
    <dd>
      <p>Des flux Atom sont disponibles sur la plupart de pages qui listent les demandes d'accès à l'information, que vous pouvez utiliser pour être tenus au courant des mises à jour de la demande au format XML. 
      Pour trouver le lien du flux Atom il existe 2 possibilités :
      </p>
        <ul>
          <li>Recherchez l'icône <%= image_tag "feed-16.png", :alt => "RSS icon" %> des flux RSS.</li>
          <li>Examine le  code <code>&lt;link rel="alternate" type="application/atom+xml"&gt;</code>  dans le header du code HTML. </li>
          <li>Ajoutez <code>/feed</code> au début d'une URL.
        </ul>

        <p>En particuler, même les requêtes complexes disposent de liens RSS.
          Vous pouvez faire plein de choses diffférentes avec ces liens, comme rechercher par autorité, par type de fichier, par plage de date, ou par status. 
          Consultez la page d'aide sur la <a href="<%= advanced_search_path %>">recherche avancée</a> pour plus de détails.
        </p>
    </dd>

    <dt>Données strucutées en JSON</dt>
    <dd>
      <p>Un certains nombre de page disposent d'une version JSON, qui vous permettent de télécharger des informations which let you download information sous le forme d'objets structurés. 
      Pour les trouver :
      </p>
      <ul>
        <li>Ajouter <code>.json</code> à la fin de l'URL. </li>
        <li>Regarder le <code>&lt;link rel="alternate" type="application/json"&gt;</code> dans les en-têtes du code HTML. </li>
      </ul>

      <p>Requêtes, utilisateurs et autorités disposent tous d'une version JSON contenant des informations basiques les concernant. 
      Chaque flux Atom à son équivalent JSON, contenant des informations sur la liste des évènements du flux.
      </p>
    </dd>

    <dt>Liste des autorités</dt>
    <dd>
      <p>
        Un fichier contenant la liste des autorités publiques du site <%= site_name %> est disponible ici:
        <%= link_to "all-authorities.csv", all_public_bodies_csv_path %>
      </p>

    </dd>


    <dt> 5. API en écriture</dt>
    <dd>
      <p>
        L'API en écriture est destinée aux autorités pour leur permettre de créer leurs proposes requêtes sur la plateforme. Cette API est actuellement utilisée par le <a href="https://github.com/mysociety/foi-register">logiciel de mySociety</a> afin d'utiliser Alaveteli comme un registre de traitement de l'ensemble de l'activité de demande d'accès à l'information concernant une autorité publiques particulière. 
        Plus d'informations techniques concernant l'API en écriture est disponible sur <a href="https://github.com/mysociety/alaveteli/wiki/API#write-api">le wiki d'Alaveteli </a>.
      </p>
    </dd>
  </dl>

  <p>Merci de <a href="<%= help_contact_path %>">nous contacter</a> si vous avez besoin d'une fonctionnalité qui n'est pas encore disponible.</p>

  <div id="hash_link_padding"></div>
</div>
