<% @title = "Que faire si ma demande est refusée ?" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
    <h1 id="cada"><%= @title %> <a href="#cada">#</a> </h1>
        <dl>
            <dt id="top">Que faire si je n'ai pas de réponse au bout d'un mois ?</dt>
            <dd>
            <p>Lorsqu'une autorité refuse la communication du document ou de la donnée administrative dont vous avez fait la demande au bout d'un mois ( de manière implicite ou explicite), vous avec la possibilité : 
            <ul>
                <li>d'effectuer un <a href="#recours">recours</a> auprès de l'autorité saisie (il s'agit alors de lui redemander encore une fois la communication des documents, en remettant ainsi son délai de réponse légal à un mois);</li>
                <li>de <a href="#cada">saisir</a> la commission d'accès aux documents administratifs (CADA) afin qu'elle s'exprime sur ce refus.</li>
            </ul>
            </p>
            <p>Les deux procédures ne peuvent pas être effectuées en parallèle. 
            Soit vous privilégiez la diplomatie et vous choisissez de saisir à nouveau l'autorité administrative afin qu'elle reconsidère son refus, 
            soit vous saisissez la CADA afin de vous appuyer sur son avis officiel. </p>
            <dt id="quickly_response">J’ai fait une demande d’accès à des documents administratifs avant la période d’urgence sanitaire. Puis-je toujours saisir la CADA ?<a href="#covid-19">#</a> </dt>
	    </dd>
            
            <dt id="recours">Comment effectuer une demande de recours ?</dt>
            <dd>
              <p>
		Il est possible (mais facultatif) de déposer un recours gracieux ou un recours hiérarchique afin de réexaminer la demande (livre IV du CRPA). Il s'agit dans ce cas de renvoyer la demande initiale à l'administration. L'administration dispose alors d'un nouveau délai de un mois pour répondre.
              </p>
              <p>Pour effectuer votre demande de recours auprès de l'autorité publique via Ma Dada : cliquer sur le bouton "Action" en haut de la page détaillant les caractéristiques de votre demande (le bouton se retrouve également en bas de cette page) et dans le menu qui apparait choisir "Effectuer un recours". Une page s'ouvre alors contenant un formulaire dans lequel vous pourrez écrire à nouveau votre courrier à l'autorité concernée. Ce formulaire pré-rempli contient la demande initiale et indique le fait qu'il s'agit d'un recours.</p>
            <div class="image-reconsideration"></div>
            </dd>
            
            <dt id="cada">Comment effectuer une saisine de la CADA ?</dt>            
            <p>La saisie de la CADA peut s'effectuer par email, par courrier postal ou directement sur <a href="https://www.cada.fr/formulaire-de-saisine">le site de la CADA</a>.</p> 
            <p>Elle ne peut être effectuée avant la fin du mois de délai de réponse dont dispose l'autorité à laquelle vous avez écrit. Un délai maximal de saisine de deux mois cours pour les refus explicites ou accusés de récéption de demandes mentionnant explicitement ce délai. 
            </p>
            <p> Pour en savoir plus sur les modalités de saisine de la CADA et les délais, voir <a href="https://www.cada.fr/formulaire-de-saisine">cette page</a> du site de la CADA.
	    </p>
	    <p> Pour en savoir plus sur le calcul précis du mois calendrier en France voir <a href="https://wiki.ouvre-boite.org/index.php?title=Calculer_un_d%C3%A9lai">cette page</a> de documentaion de l'association <a href="https://ouvre-boite.org/">Ouvre-boîte</a>.
	    </p>
	    <p>
	      Pour toute saisine de la CADA, Ma Dada vous aide en vous offrant la possibilité de télécharger une archive zip contenant toutes les correspondances ayant eu lieu entre vous et l'autorité administrative dans le processus d'une demande. Vous pouvez télécharger cette archive via le menu « Actions » en haut ou en bas de chaque demande, en cliquant sur « Téléchargez un fichier zip de toute la correspondance ». 
	    </p>
  
  <dt id="top">Comment faire le lien entre saisine CADA et demande sur Ma Dada?</dt>

    <dd>
    <p>Actuellement <%= site_name %> ne permet pas à ses utilisateurs d'y faire automatiquement des saisines auprès de la CADA.</p>
    <p>Néanmoins, pour vous aider dans vos saisines CADA et ensuite faire un suivi manuel de ces saisines sur les demandes correspondantes Ma Dada nous vous proposons la démarche suivante : 
    <ol>
        <li>saisir la CADA via les modalités décrites plus haut en utilisant ce <a href="#modele-lettre-cada">modèle</a>;</li>
        <li>préciser dans votre email le lien vers la page Ma Dada de la demande détaillant votre demande initiale;</li>
        <li>télécharger le fichier zip de la correspondance de la demande (bouton Actions sur la page de votre demande) contenant tous les échanges avec l'autorités, et l'ajouter comme pièce jointe à votre saisine;</li>
        <li>une fois la saisine envoyée, utiliser l'action « Envoyer un message de suivi » sur la page de votre demande (menu Actions) à l'autorité administrative saisie pour l'informer de votre démarche;</li>
	<li>indiquer nous que la saisine est en cours via l'action « Ajouter un commmentaire » sur la pagede votre demande (menu Actions);</li>
	<li>lorsque l'avis CADA sera émis et vous sera transféré, l'ajouter dans la demande correspondante MaDada 	, ou plus tard qu'un avis CADA a été émis,
</li>

    </ol>     
      
    </dd>

    <dt>Et si je ne parviens toujours pas à obtenir satisfaction ?</dt>
    <dd>
    <p>L'avis que la CADA va vous transmettre peut être soit favorable soit défavorable. Si l'avis est favorable, l’administration devrait vous communiquer le document sollicité dans les plus brefs délais. Elle est toujours mise au courant de cet avis en même temps que vous par la CADA.
    Cependant, les avis de la CADA ne sont pas contraignants. Les autorités n'ont donc pas d'obligation à suivre les avis émis par la CADA.
    Si l'avis est défavorable, ou si malgré un avis favorable de la CADA l'autorité ne vous délivre toujours pas les documents demandés, il ne vous reste plus qu’une seule option : introduire un recours contentieux devant le juge administratif.
    </p>
    <p>Merci à Xavier Berne et à l'équipe de l'association <a href="https://ouvre-boite.org/" target="_new">Ouvre-boîte</a> pour le partage des informations reprises ici et mises à disposition <a target="_new" href="https://www.nextinpact.com/news/105587-comment-faire-demande-cada-dacces-aux-documents-administratifs.htm">ici</a> et <a href="https://wiki.ouvre-boite.org/index.php?title=Processus_de_demande#R.C3.A9ponse_de_l.27administration" target="_new">ici</a>.
    </dd>
    
    <dt id="modele-lettre-cada">Modèle de lettre à la CADA </dt>
    <dd>
    <p>« Monsieur le Président,</br>
J'ai l'honneur de saisir votre Commission d'une demande d'avis sur le refus opposé par [telle administration] à ma demande de communication du document suivant :</br>
[indiquer le document sollicité, ou énumérer les différents documents, si vous en souhaitiez plusieurs]</br>
Vous trouverez, joint au présent courrier :
<ul>
<li>La copie de ma demande de communication de document.</li>
<li>Le refus qui m'a été opposé par [Monsieur X], le [date]. (cette mention n’est bien entendu à intégrer que si vous avez eu un retour négatif)</li>
</ul>
Dans l'attente de l'avis de votre Commission, je vous prie de croire, Monsieur le Président, à l'assurance de ma considération distinguée. »
</p>
<p>La CADA recommande de « rappeler, brièvement, le contexte dans lequel s’inscrivent la demande et la nature des documents demandés ». Mais cela n’est pas obligatoire.</br>
Il est en revanche indispensable de mentionner ses nom et prénom, ainsi que ses coordonnées (adresse postale). Il ne faut enfin pas oublier de joindre une copie de la demande initiale de document, ainsi que celle du refus exprès de l’administration – si vous avez eu un retour formel, par courrier ou email.</p>
    </dd>

    <dt id="">Références : </dt>
    <dd>
      <p>
	<ul>
	  <li>
	    <a href="https://www.service-public.fr/particuliers/vosdroits/F2467" target="_new">Le site service-public</a>, rubrique accès aux documents administratifs.
	  </li>
	  <li>
	<a href="https://www.cada.fr" target="new">Le site de la CADA</a>.
	  </li>
	  <li>
	    <a href="https://wiki.ouvre-boite.org/" target="new">Le wiki</a> de l'association Ouvre-boîte. 
	  </li>
	  <li>
	    <a href="https://blog.madada.fr/articles/2022/03/03/depliant-demandes.html" target="new">Le dépliant graphique « Comment faire ma demande d'accès aux documents administratifs? ». 
	  </li>
      </p>
    </dd>
    
    <div id="hash_link_padding"></div>
</div>
