
<% if !@info_request.nil? && @info_request.described_state == "rejected" %>
  <% @title = "Demande refusée" %>
  <h1>Demande refusée</h1>
<% else %>
  <% @title = "Réponse partielle ou insatisfaisante ?" %>
  <h1>Réponse insatisfaisante</h1>
<% end %>

<p>Vous pouvez :</p>

<ul>
  <% if !@info_request.nil? %>
    <li><a href="<%= send_cada_appeal_path(@info_request.url_title) %>">Saisir</a> la Commission d’accès aux documents administratifs (CADA)
    </li>
    <li>
      Envoyer une nouvelle demande plus précise à <a href="<%= new_request_to_body_path(@info_request.public_body.url_name) %>">la même autorité</a>, ou à <a href="<%= select_authority_path %>">une autre autorité</a>, susceptible de détenir le document que vous sollicitez.
    </li>
  <% else %>
    <li>Saisir la Commission d’accès aux documents administratifs (CADA) (<a href="https://doc.madada.fr/usagers/saisir-la-cada">Aide</a>)
    </li>
    <li>
      Envoyer une nouvelle demande plus précise à la même autorité, ou à <a href="<%= select_authority_path %>">une autre autorité</a>, susceptible de détenir le document que vous sollicitez.
    </li>
  <% end %>
</ul>
