<% info_request = InfoRequest.find(info_request_id) %>
<p>
  Deux possibilités s’offrent à vous :
</p>
<ul>
  <li>
    Renvoyer votre demande à <a href="<%= select_authority_path %>">une autre autorité</a>, susceptible de détenir le document que vous sollicitez.
  </li>
  <li>
    <a href="<%= send_cada_appeal_path(info_request.url_title) %>">Déposer un recours</a> devant la Commission d’accès aux documents administratifs (CADA), si vous disposez d’éléments permettant de contester la version de l’administration.
  </li>
</ul>
