<p>
  Nous sommes ravis que vous ayez obtenu les informations que vous souhaitiez !

  Si celles-ci vous servent dans le cadre d’un travail de recherche ou journalistique,
  vous pouvez nous le <a href="/request/<%= @info_request.url_title %>/citations/new">signaler</a> afin de les partager.
</p>
<% if AlaveteliConfiguration::donation_url.present? %>
  <p>
  Si vous trouvez notre plateforme associative utile, <a href="<%= AlaveteliConfiguration::donation_url %>">faites un don à Ma Dada</a> !
  </p>
<% end %>
