<p>
Si l’administration ne vous a pas répondu le <strong><%= simple_date(InfoRequest.find(info_request_id).date_response_required_by) %></strong>, cela équivaudra à un refus implicite.
<p>
</p>
Vous pourrez alors saisir la Commission d’accès aux documents administratifs (CADA), au besoin directement depuis Ma Dada.
</p>
